<style>
.slide--{{-block.id}} .slide__content h2, .slide--{{-block.id}} .slide__content div {
    padding-bottom: {{block.settings.contentSpacing}}px;
}

.colorfix{};
</style>

<div 
class="slide--{{-block.id}} lazyload slide adaptive {%if first%}slide__animation{%endif%} bg__{{block.settings.backgroundPosition}}" 
style="background-color: {{block.settings.backgroundColor}};" {{ block.shopify_attributes }}>
{% if settings.demo == false and block.settings.backgroundImage == nil %}
<div class="slide__fakeImage">{{'lifestyle-1' | placeholder_svg_tag }}</div>
{% else %}
{% assign class = 'slider__image--adaptive' %}
{% if block.settings.backgroundImageMobile != nil %}
{% assign class = class | append: ' hide-mobile' %}
{% render 'ratio-image', image: block.settings.backgroundImageMobile, class: 'slider__image--adaptive hide-desktop', mratio: '12', dratio: '12', ratioType: 'col' %}
{% endif %}
{% render 'ratio-image', image: block.settings.backgroundImage, class: class, mratio: '12', dratio: '12', ratioType: 'col' %}
{% endif %}
{% if block.settings.overlayOpacity > 0 %}
<div class="overlay" style="opacity: {{block.settings.overlayOpacity | times: 0.01}}; background-color: {{block.settings.overlayColor}};"></div>
{% endif %}
    {% unless block.settings.slideURL != blank %}
    <div class="slide__content--holder {{block.settings.verticalAlignment}} col-12 no-gap">
        <div class="slide__content {{block.settings.horizontalAlignment}} layout__content" style="padding: {{block.settings.padding}}px;">
        <h2 class="animate font__size--medium font__family--title" style="color: {% unless block.settings.headingColor contains 'rgba(0,0,0,0)' %}{{block.settings.headingColor}}{% else %}inherit{% endunless %};">{{block.settings.heading}}</h2>
            <div class="inherit animate" style="color: {% unless block.settings.contentColor contains 'rgba(0,0,0,0)' %}{{block.settings.contentColor}}{% else %}inherit{% endunless %}; margin-bottom: 8px;">{{block.settings.content}}</div>
            {% unless block.settings.button1Text == blank %}
            {% render 'button', type: block.settings.button1Style, buttonType: block.settings.button1Type, url: block.settings.button1Link, text: block.settings.button1Text, class: 'animate slide__button' %}
            {%endunless%}
            {% unless block.settings.button2Text == blank %}
            {% render 'button', type: block.settings.button2Style, buttonType: block.settings.button2Type, url: block.settings.button2Link, text: block.settings.button2Text, style: 'style="margin-left: 8px;"', class: 'animate slide__button' %}
            {%endunless%}
        </div>
    </div>
    {% else %}
    <a draggable="false" href="{{block.settings.slideURL}}" class="slide__content--holder {{block.settings.verticalAlignment}} col-12 no-gap">
        <div class="slide__content {{block.settings.horizontalAlignment}} layout__content" style="padding: {{block.settings.padding}}px;">
        <h2 class="animate font__size--medium font__family--title" style="color: {% unless block.settings.headingColor contains 'rgba(0,0,0,0)' %}{{block.settings.headingColor}}{% else %}inherit{% endunless %};">{{block.settings.heading}}</h2>
            <div class="inherit animate" style="color: {% unless block.settings.contentColor contains 'rgba(0,0,0,0)' %}{{block.settings.contentColor}}{% else %}inherit{% endunless %}; margin-bottom: 8px;">{{block.settings.content}}</div>
            {% unless block.settings.button1Text == blank %}
            {% render 'button', tag: "button", type: block.settings.button1Style, buttonType: block.settings.button1Type, text: block.settings.button1Text, class: 'animate slide__button' %}
            {%endunless%}
            {% unless block.settings.button2Text == blank %}
            {% render 'button', tag: "button", type: block.settings.button2Style, buttonType: block.settings.button2Type, text: block.settings.button2Text, style: 'style="margin-left: 8px;"', class: 'animate slide__button' %}
            {%endunless%}
        </div>
    </a>
    {% endunless %}
</div>

{% comment %}
{% blockdef %}
{
    "type": "imageSlide",
    "name": "Image slide",
    "settings": [
    {
        "type": "select",
        "id": "horizontalAlignment",
        "label": "Content alignment (left to right)",
        "options": [
            {"value": "start", "label": "Left"},
            {"value": "center", "label": "Center"},
            {"value": "end", "label": "Right"}
        ],
        "default": "center"
    },
    {
        "type": "select",
        "id": "verticalAlignment",
        "label": "Content alignment (top to bottom)",
        "options": [
            {"value": "top", "label": "Top"},
            {"value": "middle", "label": "Middle"},
            {"value": "bottom", "label": "Bottom"}
        ],
        "default": "middle"
    },
    {
        "type": "range",
        "id": "padding",
        "min": 0,
        "max": 50,
        "default": 16,
        "unit": "px",
        "label": "Padding"
    },
    {
        "type": "range",
        "id": "contentSpacing",
        "min": 0,
        "max": 50,
        "default": 12,
        "unit": "px",
        "label": "Space between content"
    },
    {
        "type": "header",
        "content": "Background"
    },
    {
        "type": "color",
        "id": "backgroundColor",
        "label": "Background color",
        "default": "rgba(0,0,0,0)"
    },
    {
        "type": "image_picker",
        "id": "backgroundImage",
        "label": "Background image"
    },
    {
        "type": "select",
        "id": "backgroundPosition",
        "label": "Background image position",
        "options": [
            {"value": "top", "label": "Top"},
            {"value": "middle", "label": "Middle"},
            {"value": "bottom", "label": "Bottom"}
        ],
        "default": "middle"
    },
    {
        "type": "header",
        "content": "Overlay"
    },
    {
        "type": "range",
        "id": "overlayOpacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "label": "Overlay opacity",
        "default": 40,
        "unit": "%"
    },
    {
        "type": "color",
        "id": "overlayColor",
        "label": "Overlay color",
        "default": "#000000"
    },
    {
        "type": "header",
        "content": "Content"
    },
    {
        "type": "text",
        "label": "Heading",
        "id": "heading",
        "default": "IMAGE SLIDE"
    },
    {
        "type": "color",
        "id": "headingColor",
        "label": "Heading color",
        "default": "rgba(0,0,0,0)"
    },
    {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>Tell your brand's story through images</p>"
    },
    {
        "type": "color",
        "id": "contentColor",
        "label": "Content color",
        "default": "rgba(0,0,0,0)"
    },
    {
        "type": "header",
        "content": "Primary button"
    },
    {
        "type": "text",
        "label": "Button text",
        "id": "button1Text",
        "default": "Primary button"
    },
    {
        "type": "url",
        "label": "Button link",
        "id": "button1Link"
    },
    {
        "type": "select",
        "id": "button1Style",
        "label": "Button style",
        "options": [
        {"value": "primary", "label": "Primary button"},
        {"value": "secondary", "label": "Secondary button"}
        ],
        "default": "primary"
    },
    {
        "id": "button1Type",
        "type": "select",
        "label": "Button type",
        "options": [
        {"value": "default", "label": "Default"},
        {"value": "filled", "label": "Filled"},
        {"value": "ghost", "label": "Ghost"},
        {"value": "underlined", "label": "Underlined"},
        {"value": "text", "label": "Text"}
        ],
        "default": "default"
    },
    {
        "type": "header",
        "content": "Secondary button"
    },
    {
        "type": "text",
        "label": "Button text",
        "id": "button2Text",
        "default": "Secondary button"
    },
    {
        "type": "url",
        "label": "Button link",
        "id": "button2Link"
    },
    {
        "type": "select",
        "id": "button2Style",
        "label": "Button style",
        "options": [
        {"value": "primary", "label": "Primary button"},
        {"value": "secondary", "label": "Secondary button"}
        ],
        "default": "secondary"
    },
    {
        "id": "button2Type",
        "type": "select",
        "label": "Button type",
        "options": [
        {"value": "default", "label": "Default"},
        {"value": "filled", "label": "Filled"},
        {"value": "ghost", "label": "Ghost"},
        {"value": "underlined", "label": "Underlined"},
        {"value": "text", "label": "Text"}
        ],
        "default": "default"
    }
]
}
{% endblockdef %}
{% endcomment %}