{% unless section.settings.subheading == blank and section.settings.heading == blank %}

<style>
{% if section.settings.headingColor != "rgba(0,0,0,0)"  %}
#s--{{-section.id}} .section__heading--heading h2 {
    color: {{section.settings.headingColor}};
}
{% endif %}

#s--{{-section.id}} .section__heading--subheading {
    {% if section.settings.subheadingPosition == "below" %}
    order: 2;
    {% endif %}
    {% if section.settings.subheadingColor != "rgba(0,0,0,0)" %}
        color: {{section.settings.subheadingColor}};
    {% endif %}
}
</style>

<div class="col-12 column {{ section.settings.headingAlignment }} section__heading">
{% unless section.settings.subheading == blank %}
<span class="section__heading--subheading">{{section.settings.subheading}}</span>
{%endunless%}
{% unless section.settings.heading == blank %}
<div class="section__heading--heading">
<h2 class="font__family--title">{{section.settings.heading}}</h2>
</div>
{%endunless%}
</div>
{% endunless %}

{% comment %}
Part of section settings
{% endcomment %}