{% assign style = type | default: 'primary' %}
{% assign buttonStyle = style | append: 'ButtonStyle' %}
<button 
type="submit"
{{disabled}}
{% if name %}name="{{name}}"{% endif %}
class="button button--{{-style}} button--{{-settings[buttonStyle]}}  button--{{-style-}}__{{-settings[buttonStyle]}} {{class}}">
{{- text -}}
</button>