<div class="cx-width cx-reset-account">
  <div class="content-block">
    <h1>Reset account password</h1>
    <p>Enter a new password for {{ email }}</p>
    
    {% form 'reset_customer_password' %}
    {{ form.errors | default_errors }}
    <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}" placeholder="{{ 'customer_area.forms.password' | t }}">
    <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'confirm_password' %} input--error{% endif %}" placeholder="{{ 'customer_area.forms.confirm_password' | t }}">
    <input type="submit" class="reset-btn" value="{{ 'customer_area.forms.reset_password' | t }}">
    {% endform %}
  </div>
</div>

<style>
  html {
  	font-size: 10px;
  }
  .cx-width {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .cx-reset-account .content-block {
  	width: 100%;
    margin:30px auto 0;
    text-align: center;
  }
  
  .cx-reset-account .content-block h1 {
    font-size: 1.875em;
    margin: 0 0 .625em;
    line-height: 1.1;
    color: #030303;
    padding: 0;
    font-family: Lato,HelveticaNeue,"Helvetica Neue",sans-serif;
  }
  
  .cx-reset-account .content-block p {
    padding: 0;
    letter-spacing: .7px;
    color: #000;
    line-height: 1.375;
    margin: 0 0 30px;
    font-family: Montserrat,sans-serif;
    font-size: 13px;
  }
  
  .cx-reset-account .content-block input {
    font-size: 13px;
    letter-spacing: .65px;
    padding: 13px 25px;
    font-weight: 400;
    display: block;
    width: 100%;
    margin: 0 0 20px;
    background-color: #fff;
    max-width: 100%;
    line-height: 1.375;
    border-radius: 0;
    border:0;
    border-bottom: 1px solid #e6e6e6;
    font-family: Karla, HelveticaNeue, "Helvetica Neue", sans-serif;
  }
  
  .cx-reset-account .content-block input::placeholder{
    color: #000;
    font-family: 'Montserrat';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
  }
  
  .cx-reset-account .content-block .reset-btn {
    margin: 0;
    background-color: #c63b3d;
    color: #fff;
    text-transform: uppercase;
    opacity: 1;
    font-family: Montserrat,sans-serif;
    border-radius: 0;
    padding: 15px 14px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.2px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    border: 0;
    line-height: 1.375;
  }
  
  .cx-reset-account .content-block .reset-btn:hover {
  	background-color: #a02e30;
    color: #fff;
  }
  
  .cx-reset-account .errors {
    background-color: #ce3330;
    color: #fff;
    padding: 15px 0 14px 0;
    margin: 0 0 10px;
  }
  
  .cx-reset-account .errors ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .cx-reset-account .error li {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    line-height: 1.375;
    letter-spacing: 1.1px;
    font-family: Montserrat,sans-serif;
  }
  
  @media only screen and (min-width: 750px) {
    .cx-reset-account .content-block {
      width: 540px;
    }
    
    .cx-reset-account .content-block h1 {
      font-size: 2.25em;
      font-family: Lato,HelveticaNeue,"Helvetica Neue",sans-serif;
      font-weight: 700;
      color: #030303;
      margin: 0 0 .625em;
      line-height: 1em;
    }
    
    .cx-reset-account .content-block .reset-btn {
      margin: 30px 0 20px;
    }
    
    .cx-reset-account .content-block input::placeholder{
      font-size: 13px;
    }
  }
  
</style>