{% if section.settings.enabled %}
{%liquid
assign url = section.settings.defaultBackgroundImage  
if collection.image != nil and section.settings.useCollectionImage
assign url = collection.image
endif %}

{% capture layoutConfig %}{% render 'common-layout' with section as section %}{% endcapture %}

{% assign default = false %}
{% if url == nil and section.settings.fillColor contains 'rgba(0,0,0,0)' and section.settings.overlayOpacity == 0 %}
{% assign default = true %}
{% endif %}

<style>
#section-{{section.id}} {
    position: relative;
    {% if url != nil %}
    background-image: url({{url | img_url: '10x' }});
    background-size: cover;
    background-position: center center;
    {% endif %}
    background-color: {{section.settings.fillColor}};
    color: {% unless section.settings.contentColor contains 'rgba(0,0,0,0)' %}{{section.settings.contentColor}}{% else %}initial{% endunless %};
    min-height: {{section.settings.height}}px;
    margin-bottom: 0px;
}

.wrapper--bottom {
  padding-top: 0px;
}

#section-{{section.id}} .section__row {
    z-index: 1;
}

{% if section.settings.overlayOpacity > 0 %}
#section-{{section.id}} .overlay {
    opacity: {{section.settings.overlayOpacity | times: 0.01}};
    background: {{section.settings.overlayColor}};
    z-index: 0;
}
{% endif %}

#toggle-{{-section.id}}:checked + .description--collapse {
  display: block;
}

#toggle-{{-section.id}}:checked ~ .readMore__toggle::after {
  content: ' less';
}
</style>

{% if default %}
  <div id="section-{{section.id}}" 
  class="{% unless section.settings.contentColor contains 'rgba(0,0,0,0)' %}inherit{% endunless %} lazyload row banner layout__{{-layoutConfig}} {{section.settings.verticalAlignment}}">
    <div class="col-12 unflex section__row layout__content {{section.settings.horizontalAlignment}}">
      {% if section.settings.showTitle %}<h1 class="font__size--{{section.settings.fontSize}}">{{ collection.title }} {% if section.settings.showNumber %}(<span class="collection__total-items">{{collection.products_count}}</span>){% endif %}</h1>{% endif %}
      {% if section.settings.showDescription %}
        <input type="checkbox" style="display: none;" id="toggle-{{-section.id}}">
        <div class="collection__description {% if section.settings.truncateReadMore %}description--collapse{% endif %} booster--revert">
          {% if section.settings.truncateReadMore == false and section.settings.truncateDesc > 0 %}
            {{collection.description | truncate: section.settings.truncateDesc, '...'}}
          {% else %}
           {{collection.description}}
          {% endif %}
        </div>{% if collection.description != blank and section.settings.truncateReadMore %}<label class="readMore__toggle" for="toggle-{{-section.id}}">Read</label>{% endif %}
      {% endif %}
    </div>
  </div>
{% else %}
  <div id="section-{{section.id}}" 
  class="{% unless section.settings.contentColor contains 'rgba(0,0,0,0)' %}inherit{% endunless %} lazyload row banner layout__{{-layoutConfig}} {{section.settings.verticalAlignment}}" 
  {% if url != nil %}{% render 'background', image: url %}{% endif %}>
  {% if section.settings.overlayOpacity > 0 %}<div class="overlay"></div>{%endif%}
    <div class="col-12 unflex section__row layout__content {{section.settings.horizontalAlignment}}">
      {% if section.settings.showTitle %}<h1 class="font__size--{{section.settings.fontSize}}">{{ collection.title }} {% if section.settings.showNumber %}(<span class="collection__total-items">{{collection.products_count}}</span>){% endif %}</h1>{% endif %}
      {% if section.settings.showDescription %}
        <input type="checkbox" style="display: none;" id="toggle-{{-section.id}}">
        <div class="collection__description {% if section.settings.truncateReadMore %}description--collapse{% endif %} booster--revert">
          {% if section.settings.truncateReadMore == false and section.settings.truncateDesc > 0 %}
            {{collection.description | truncate: section.settings.truncateDesc, '...'}}
          {% else %}
           {{collection.description}}
          {% endif %}
        </div>{% if collection.description != blank and section.settings.truncateReadMore %}<label class="readMore__toggle" for="toggle-{{-section.id}}">Read</label>{% endif %}
      {% endif %}
    </div>
  </div>
{% endif %}
{% endif %}

{% schema %}
{
  "name": {
    "en": "Bottom banner"
  },
  "settings": [
    {
            "type": "header",
            "content": "Help"
        },
        {
        "type": "paragraph",
        "content": "[Click here to follow an interactive Tutorial](https://vimeo.com/458187525)"
        },
        {
          "id": "enabled",
          "type": "checkbox",
          "label": "Enable Bottom Content",
          "default": false
        },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Section layout",
      "options": [
        {"value": "default", "label": "Global default"},
        {"value": "boxed", "label": "Boxed"},
        {"value": "stretchBg", "label": "Full width background"},
        {"value": "stretchContent", "label": "Full width"}
      ],
      "default": "default"
    },
    {
      "type": "range",
      "id": "height",
      "label": "Height",
      "default": 300,
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "horizontalAlignment",
      "label": "Content alignment (left to right)",
      "options": [
        {"value": "start", "label": "Left"},
        {"value": "center", "label": "Center"},
        {"value": "end", "label": "Right"}
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "verticalAlignment",
      "label": "Content alignment (top to bottom)",
      "options": [
        {"value": "top", "label": "Top"},
        {"value": "middle", "label": "Middle"},
        {"value": "bottom", "label": "Bottom"}
      ],
      "default": "middle"
    },
    {
        "type": "header",
        "content": "Style"
    },
    {
      "type": "checkbox",
      "label": "Show Title",
      "default": false,
      "id": "showTitle"
    },
    {
      "type": "checkbox",
      "label": "Show number of products",
      "default": true,
      "id": "showNumber"
    },
    {
      "type": "select",
      "label": "Title size",
      "options": [
        {"value": "small", "label": "Small"},
        {"value": "base", "label": "Base"},
        {"value": "medium", "label": "Medium"},
        {"value": "big", "label": "Big"}
      ],
      "default": "medium",
      "id": "fontSize"
    },
    {
      "type": "checkbox",
      "label": "Show collection description",
      "default": true,
      "id": "showDescription"
    },
    {
      "type": "checkbox",
      "label": "Limit description to one row (read more)",
      "info": "Shows only the first row of content and adds a 'read more' button afterwards",
      "id": "truncateReadMore",
      "default": true
    },
    {
      "type": "range",
      "min": 0,
      "max": 1000,
      "step": 10,
      "label": "Truncate Description",
      "info": "Limits the amount of characters in the description. This is ignored if 'Read More' is turned on (above setting).",
      "id": "truncateDesc",
      "default": 0
    },
    {
      "type": "color",
      "id": "contentColor",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "fillColor",
      "label": "Background color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "checkbox",
      "id": "useCollectionImage",
      "label": "Use collection's featured image as background",
      "default": false
    },
    {
        "type": "image_picker",
        "id": "defaultBackgroundImage",
        "label": "Default background image"
    },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "range",
      "id": "overlayOpacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Overlay opacity",
      "default": 0,
      "unit": "%"
    },
    {
      "type": "color",
      "id": "overlayColor",
      "label": "Overlay color",
      "default": "#000000"
    }
  ]
}
{% endschema %}
