<div class="page-width banner-3-img padding-fix">

  <div class="rb-container">
    <div class="rb-row">
      <div class="rb-col-md-6">
        <div class="banner-wrapper" style="background-image:url('{{ section.settings.image_1 | img_url: '600x600' }}')">
          <a href="{{ section.settings.image_1_link }}" style="width: 100%; height: 100%; display: block;"></a>
          {% comment %}
          <div class="label-logo">
            
            <a href="{{ section.settings.ray_ban_link }}" target="_blank">

              <svg width="154px" height="105px" viewBox="0 0 154 105" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>svgexport-0</title>
                <desc>Created with Sketch.</desc>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="TPL_LIGHT_NEW" transform="translate(-1286.000000, -406.000000)" fill-rule="nonzero">
                    <g id="1" transform="translate(0.000000, 188.000000)">
                      <g id="svgexport-0" transform="translate(1286.000000, 218.000000)">
                        <polygon id="Path" fill="#FF0D00" points="0 91.3461538 154 91.3461538 154 0 0 0"></polygon>
                        <path d="M55.5756667,57.9719231 C55.0256667,59.9322115 52.8036667,63.1567308 51.7623333,63.2572115 C51.4506667,63.2846154 51.0015,63.1201923 51.0198333,62.4131731 C51.0565,60.7579808 53.6543333,57.0036538 54.7231667,56.7168269 C55.4565,56.5195192 55.7828333,57.2301923 55.5756667,57.9700962 M75.0713333,48.0681731 C72.8841667,48.0681731 71.0636667,56.7204808 69.2761667,56.6364423 C67.7728333,56.5651923 69.0286667,50.6678846 66.7241667,50.6514423 C65.3088333,50.6423077 64.8853333,53.0081731 64.24,55.0397115 C64.2033333,55.1566346 63.1583333,59.2416346 61.5725,59.2416346 C60.5623333,59.2416346 59.6786667,58.4377885 59.6786667,56.0554808 C59.6786667,54.9410577 59.6218333,53.2822115 58.2853333,53.0045192 C55.9716667,52.5295192 56.4996667,54.8990385 54.4701667,54.5153846 C48.9793333,53.485 44.8231667,64.7242308 48.1635,66.2259615 C52.1675,68.0327885 55.0898333,60.9516346 56.2851667,61.1452885 C57.1963333,61.2950962 56.6041667,64.3460577 59.4788333,64.1505769 C61.8218333,63.9916346 63.6698333,59.1703846 64.581,59.2270192 C65.3876667,59.2781731 64.6855,62.1281731 66.7076667,62.2341346 C69.0726667,62.3583654 70.048,58.4469231 71.126,58.4268269 C71.3973333,58.4231731 71.511,58.6259615 71.4908333,59.5869231 C71.4596667,60.8968269 71.2836667,77.4852885 71.258,78.0242308 C71.2085,79.0473077 71.7053333,79.1313462 71.929,79.1313462 C72.0811667,79.1313462 74.3545,79.0838462 74.789,79.0674038 C75.229,79.0491346 75.3023333,78.6399038 75.3005,78.3914423 C75.2986667,78.2909615 75.6158333,54.2395192 75.6378333,49.0364423 C75.6415,48.0681731 75.2381667,48.0681731 75.0695,48.0681731 M119.1795,40.0242308 C118.561667,41.7744231 116.776,44.5824038 115.6815,44.7778846 C115.305667,44.8436538 114.847333,44.4727885 114.876667,43.8315385 C114.946333,42.3279808 117.4745,39.1345192 118.501167,38.8970192 C119.2015,38.73625 119.4325,39.3099038 119.1795,40.0242308 M143.460167,37.3751923 C139.194,40.0607692 140.015333,30.1277885 137.419333,30.1277885 C134.586833,30.1277885 133.76,36.0177885 132.749833,36.1164423 C131.514167,36.2370192 133.211833,31.7994231 130.760667,31.89625 C128.062,32.0058654 126.551333,41.7598077 124.593333,41.0052885 C122.584,40.2306731 124.023167,35.07875 121.762667,34.7024038 C120.594833,34.50875 120.354667,35.4386538 119.658,35.8880769 C118.6185,36.5603846 116.7485,35.3893269 113.815167,38.7965385 C110.496833,42.6476923 109.483,48.8683654 112.013,49.2940385 C115.419333,49.8640385 118.523167,44.0690385 119.3115,43.3254808 C120.407833,42.2841346 119.7955,46.3271154 122.750833,46.3855769 C125.874833,46.4476923 126.8135,41.3122115 127.722833,41.3615385 C128.502,41.4053846 127.598167,44.05625 129.085,44.2444231 C132.308,44.6554808 134.075333,36.2370192 135.400833,36.4215385 C136.728167,36.6042308 136.2295,41.6264423 139.421333,41.9443269 C142.132833,42.2110577 143.99,38.5243269 144.241167,37.9780769 C144.503333,37.4153846 144.057833,37.0006731 143.460167,37.3751923" id="Shape" fill="#FFFFFF"></path>
                        <path d="M57.1358333,72.3114423 C57.8948333,72.6786538 58.9508333,73.3619231 58.4136667,74.5877885 C58.0268333,75.4610577 57.6583333,76.1461538 57.5776667,76.2831731 C57.1083333,77.0815385 55.9698333,77.5620192 54.6113333,76.9225962 C52.437,75.8995192 40.7586667,70.3420192 40.3846667,70.1702885 C39.9758333,69.9784615 39.3085,70.1191346 39.3066667,71.2591346 L39.3066667,74.3575962 C39.3066667,74.7777885 39.3616667,75.81 38.5036667,76.4165385 C37.5906667,77.0614423 36.0983333,77.9456731 35.8325,78.0790385 C35.4585,78.2690385 34.4941667,79.0144231 34.4831667,77.4615385 C34.4575,74.3740385 34.4575,68.6448077 34.4575,68.3269231 C34.4575,68.0090385 34.529,67.3970192 33.6086667,66.9804808 C32.7781667,66.6041346 27.4926667,64.1158654 27.1645,63.9660577 C26.741,63.7705769 26.422,63.0124038 27.2855,62.4935577 C28.3121667,61.8742308 33.4528333,58.8780769 33.8085,58.6259615 C34.4061667,58.2021154 34.4061667,57.7965385 34.4116667,56.5633654 C34.4171667,55.1749038 34.3328333,37.1175962 34.342,36.8252885 C34.3603333,36.3557692 34.2961667,35.9666346 35.0991667,35.4514423 C36.0085,34.8668269 36.9875,34.2310577 37.3065,34.0264423 C37.8106667,33.6994231 39.3525,33.0581731 39.3286667,34.7974038 C39.3103333,35.9666346 39.3231667,52.4820192 39.3286667,52.9223077 C39.3378333,53.5251923 39.6201667,54.4477885 40.5973333,53.7279808 C52.294,45.1176923 53.8468333,37.8392308 51.5166667,33.0252885 C46.7555,23.1927885 22.0238333,38.8897115 11.3245,47.6790385 C9.64333333,49.0601923 9.68366667,48.45 9.68183333,47.7831731 C9.67816667,46.9939423 9.71666667,44.0745192 9.78083333,43.5355769 C9.8725,42.7609615 10.0668333,40.2434615 12.3786667,38.5736538 C14.619,36.955 45.2815,17.2717308 54.1915,29.9195192 C58.5365,36.0890385 55.8836667,45.8283654 40.447,57.1406731 C39.5046667,57.83125 39.3286667,58.0577885 39.3286667,59.3055769 C39.3286667,60.5533654 39.3011667,62.43875 39.3286667,62.795 C39.358,63.1530769 39.3946667,63.9094231 40.139,64.2839423 C40.8833333,64.6621154 56.5051667,72.0063462 57.134,72.3114423 L57.1358333,72.3114423 Z M86.515,47.09625 C85.382,45.8265385 83.105,45.8484615 81.3523333,46.9245192 C79.0423333,48.3422115 78.4245,50.5600962 79.5611667,51.8279808 C80.696,53.0976923 83.4111667,52.8291346 85.074,51.7293269 C86.9788333,50.46875 87.6516667,48.3659615 86.5168333,47.09625 L86.515,47.09625 Z M103.821667,13.2579808 C109.259333,18.5925962 99.9955,28.7046154 97.7606667,31.3079808 C96.756,32.4735577 95.8246667,34.2127885 97.4013333,35.8771154 C99.0018333,37.5688462 100.664667,39.1345192 102.036,40.39875 C103.728167,41.9607692 103.224,44.8838462 102.153333,46.4641346 C101.438333,47.5164423 99.8433333,49.3744231 98.0063333,51.7147115 C96.1638333,54.0641346 94.4918333,56.2052885 94.3066667,56.4409615 C93.2437817,57.7267878 93.132042,59.5481912 94.0298333,60.9534615 C96.0061667,64.0080769 96.1968333,63.9624038 97.4563333,61.7810577 C99.5555,58.1454808 102.323833,54.7711538 104.432167,52.3778846 C106.329667,50.2221154 107.36,48.6820192 107.627667,48.3001923 C109.534333,45.5890385 109.715833,42.6915385 107.790833,41.0217308 C105.240667,38.8111538 102.290833,36.8764423 99.8525,35.0294231 C98.4481667,33.9570192 99.4235,32.6416346 100.928667,31.5180769 C106.285667,27.5244231 113.758333,20.8360577 110.33,12.7884615 C107.011667,5.00211538 91.399,11.0090385 90.7646667,27.1188462 C90.5391667,32.8645192 91.3055,48.7550962 90.8746667,52.7323077 C90.6271667,55.0470192 91.5108333,54.7875962 92.3578333,54.4386538 C93.1351667,54.1171154 96.1161667,52.6665385 95.9621667,48.8811538 C95.8081667,45.1122115 95.4616667,28.6699038 95.3498333,26.9672115 C94.7723333,18.0993269 100.288833,9.79413462 103.819833,13.2579808 L103.821667,13.2579808 Z M142.0595,29.9889423 L142.0595,29.5925 L142.305167,29.5925 C142.440833,29.5925 142.615,29.6107692 142.615,29.7751923 C142.615,29.9615385 142.505,29.9889423 142.34,29.9889423 L142.0595,29.9889423 L142.0595,29.9889423 Z M141.714833,30.9334615 L142.0595,30.9334615 L142.0595,30.2538462 L142.222667,30.2538462 L142.607667,30.9334615 L142.965167,30.9334615 L142.538,30.2374038 C142.787333,30.2173077 142.965167,30.1022115 142.965167,29.8099038 C142.965167,29.4481731 142.726833,29.3275962 142.319833,29.3275962 L141.714833,29.3275962 L141.714833,30.9334615 L141.714833,30.9334615 Z" id="Shape" fill="#FFFFFF"></path>
                        <path d="M142.275833,28.9603846 C141.617694,28.9603846 141.084167,29.4920465 141.084167,30.1478846 C141.084167,30.8037228 141.617694,31.3353846 142.275833,31.3353846 C142.933973,31.3353846 143.4675,30.8037228 143.4675,30.1478846 C143.4675,29.4920465 142.933973,28.9603846 142.275833,28.9603846 M142.275833,31.6094231 C141.750861,31.6094231 141.265767,31.3303331 141.003281,30.8772837 C140.740795,30.4242342 140.740795,29.8660542 141.003281,29.4130048 C141.265767,28.9599553 141.750861,28.6808654 142.275833,28.6808654 C143.08737,28.6808654 143.74525,29.3364454 143.74525,30.1451442 C143.74525,30.9538431 143.08737,31.609423 142.275833,31.6094231" id="Shape" fill="#FFFFFF"></path>
                        <path d="M85.0446667,103.984808 L86.4563333,103.984808 L86.4563333,98.3852885 L86.7203333,98.3852885 L89.5308333,103.984808 L92.0755,103.984808 L92.0755,96.9785577 L90.6638333,96.9785577 L90.6638333,102.578077 L90.398,102.578077 L87.5893333,96.9785577 L85.0446667,96.9785577 L85.0446667,103.984808 Z M81.2716667,103.984808 L82.6833333,103.984808 L82.6833333,96.9785577 L81.2716667,96.9785577 L81.2716667,103.984808 Z M140.407667,104.204038 C140.966833,103.076827 143.2035,98.8255769 144.307167,98.3560577 L144.307167,96.9639423 L137.982167,96.9639423 L137.982167,98.3560577 L142.277667,98.3560577 C141.7625,98.9863462 141.335333,99.6750962 141.071333,100.086154 C140.173,101.522115 139.467167,102.945288 139.467167,102.945288 L139.1445,103.575577 L140.407667,104.204038 L140.407667,104.204038 Z M136.4,101.8875 C136.4,101.461827 136.282667,100.919231 135.9875,100.480769 C136.280833,100.055096 136.4,99.4978846 136.4,99.0868269 C136.4,98.2811538 135.972833,96.9767308 134.651,96.9767308 L131.8405,96.9767308 C130.692833,96.9767308 129.928333,97.6947115 129.7505,98.7488462 C129.721167,98.9406731 129.721167,99.0868269 129.721167,99.0868269 L131.132833,99.0868269 C131.1475,98.6611538 131.352833,98.3834615 131.8405,98.3834615 L134.651,98.3834615 C134.7225,98.3834615 135.003,98.4857692 135.003,99.0868269 C135.003,99.6714423 134.7225,99.7755769 134.651,99.7755769 L131.8405,99.7755769 L131.8405,101.182308 L134.6345,101.182308 C134.7225,101.182308 134.988333,101.286442 134.988333,101.8875 C134.988333,102.472115 134.7225,102.57625 134.6345,102.57625 L131.825833,102.57625 C131.384,102.57625 131.208,102.371635 131.134667,101.989808 L131.134667,101.8875 L129.721167,101.8875 C129.708491,102.447352 129.92622,102.987997 130.323759,103.3838 C130.721297,103.779603 131.264028,103.9961 131.825833,103.982981 L134.6345,103.982981 C135.972833,103.982981 136.4,102.678558 136.4,101.8875 L136.4,101.8875 Z M122.684833,99.7755769 C122.593167,99.7755769 122.331,99.6732692 122.331,99.0886538 C122.331,98.4857692 122.595,98.3834615 122.684833,98.3834615 L125.847333,98.3834615 C125.935333,98.3834615 126.199333,98.4857692 126.199333,99.0886538 C126.199333,99.6732692 125.935333,99.7755769 125.847333,99.7755769 L122.686667,99.7755769 L122.684833,99.7755769 Z M120.919333,99.0886538 C120.919333,99.8778846 121.359333,101.184135 122.684833,101.184135 L125.847333,101.184135 C125.979333,101.184135 126.096667,101.169519 126.199333,101.154904 L126.199333,101.885673 C126.199333,102.296731 125.964667,102.57625 125.4935,102.57625 L123.036833,102.57625 C122.375,102.57625 122.331,101.973365 122.331,101.8875 L120.934,101.8875 C120.904667,103.045769 121.814,103.982981 123.036833,103.982981 L125.4935,103.982981 C126.641167,103.982981 127.376333,103.265 127.568833,102.209038 C127.598167,102.019038 127.611,101.8875 127.611,101.8875 L127.611,99.0886538 C127.611,98.2811538 127.169167,96.9767308 125.847333,96.9767308 L122.686667,96.9767308 C121.361167,96.9767308 120.921167,98.2811538 120.921167,99.0886538 L120.919333,99.0886538 Z M116.402,99.7025 C116.537285,99.6386362 116.665156,99.5602214 116.783333,99.4686538 L116.783333,103.981154 L118.195,103.981154 L118.195,96.9767308 L116.783333,96.9767308 C116.783333,97.9888462 115.872167,98.4126923 115.151667,98.7652885 L115.7695,100.025865 L116.402,99.7025 L116.402,99.7025 Z M101.148667,102.223654 C101.178,102.019038 101.178,101.8875 101.178,101.8875 L99.7791667,101.8875 C99.7498333,102.298558 99.5445,102.590865 99.0733333,102.590865 L96.2628333,102.590865 C95.8375,102.590865 95.557,102.357019 95.557,101.8875 L95.557,99.0886538 C95.557,98.6611538 95.7935,98.3834615 96.2628333,98.3834615 L99.0733333,98.3834615 C99.4858333,98.3834615 99.7791667,98.6173077 99.7791667,99.0886538 L101.178,99.0886538 C101.178,97.9431731 100.455667,97.1813462 99.4125,97.0059615 C99.2053333,96.9767308 99.0733333,96.9767308 99.0733333,96.9767308 L96.2628333,96.9767308 C95.117,96.9767308 94.3818333,97.6947115 94.1893333,98.7488462 C94.1729782,98.8618919 94.1583099,98.9751737 94.1453333,99.0886538 L94.1453333,101.8875 C94.1453333,103.016538 94.8658333,103.778365 95.9236667,103.951923 C96.1326667,103.982981 96.2628333,103.982981 96.2628333,103.982981 L99.0733333,103.982981 C100.208167,103.982981 100.970833,103.265 101.148667,102.223654 L101.148667,102.223654 Z M77.3795,101.182308 C77.4675,101.182308 77.7315,101.286442 77.7315,101.8875 C77.7315,102.472115 77.4675,102.57625 77.3795,102.57625 L73.865,102.57625 C73.7898333,102.57625 73.5276667,102.472115 73.5276667,101.872885 L72.1141667,101.8875 C72.1141667,102.678558 72.5413333,103.982981 73.865,103.982981 L77.3813333,103.982981 C78.7013333,103.982981 79.145,102.678558 79.145,101.8875 C79.145,101.08 78.7031667,99.7755769 77.3813333,99.7755769 L73.8796667,99.7755769 C73.788,99.7755769 73.5276667,99.6732692 73.5276667,99.0886538 C73.5276667,98.4857692 73.7898333,98.3834615 73.8796667,98.3834615 L77.3813333,98.3834615 C77.4693333,98.3834615 77.7333333,98.4857692 77.7333333,99.0722115 L79.145,99.0886538 C79.145,98.2665385 78.7196667,96.9767308 77.3813333,96.9767308 L73.8796667,96.9767308 C72.5413333,96.9767308 72.1141667,98.2811538 72.1141667,99.0886538 C72.1141667,99.8778846 72.5413333,101.184135 73.8796667,101.184135 L77.3813333,101.184135 L77.3795,101.182308 Z M60.6393333,99.7755769 L60.6393333,98.3834615 L65.5526667,98.3834615 L65.5526667,96.9767308 L59.2258333,96.9767308 L59.2258333,103.982981 L65.5508333,103.982981 L65.5508333,102.57625 L60.6375,102.57625 L60.6375,101.184135 L64.1391667,101.184135 L64.1391667,99.7755769 L60.6375,99.7755769 L60.6393333,99.7755769 Z M49.8336667,103.982981 L51.2435,103.982981 L51.2435,98.3834615 L51.5093333,98.3834615 L54.3198333,103.982981 L56.8645,103.982981 L56.8645,96.9767308 L55.4528333,96.9767308 L55.4528333,102.57625 L55.187,102.57625 L52.3783333,96.9767308 L49.8336667,96.9767308 L49.8336667,103.982981 Z M46.057,103.982981 L47.4686667,103.982981 L47.4686667,96.9767308 L46.057,96.9767308 L46.057,103.982981 Z M43.791,96.9767308 L42.3921667,96.9767308 L42.3921667,101.8875 C42.3921667,102.296731 42.1593333,102.57625 41.6881667,102.57625 L38.8776667,102.57625 C38.4505,102.57625 38.1718333,102.355192 38.1718333,101.8875 L38.1718333,96.9767308 L36.7748333,96.9767308 L36.7748333,101.8875 C36.7748333,103.016538 37.4953333,103.778365 38.5385,103.951923 C38.7456667,103.982981 38.8776667,103.982981 38.8776667,103.982981 L41.6881667,103.982981 C42.834,103.982981 43.571,103.265 43.7598333,102.209038 C43.791,102.019038 43.791,101.8875 43.791,101.8875 L43.791,96.9767308 L43.791,96.9767308 Z M27.4743333,103.982981 L28.886,103.982981 L28.886,98.3834615 L29.1518333,98.3834615 L31.9623333,103.982981 L34.507,103.982981 L34.507,96.9767308 L33.0935,96.9767308 L33.0935,102.57625 L32.8295,102.57625 L30.019,96.9767308 L27.4743333,96.9767308 L27.4743333,103.982981 Z M104.566,99.7755769 L104.566,98.3834615 L109.479333,98.3834615 L109.479333,96.9767308 L103.154333,96.9767308 L103.154333,103.982981 L109.479333,103.982981 L109.479333,102.57625 L104.566,102.57625 L104.566,101.184135 L108.067667,101.184135 L108.067667,99.7755769 L104.566,99.7755769 L104.566,99.7755769 Z M20.3866667,99.7755769 L20.3866667,98.3834615 L25.3,98.3834615 L25.3,96.9767308 L18.975,96.9767308 L18.975,103.982981 L25.3,103.982981 L25.3,102.57625 L20.3866667,102.57625 L20.3866667,101.184135 L23.8883333,101.184135 L23.8883333,99.7755769 L20.3866667,99.7755769 L20.3866667,99.7755769 Z M16.7071667,99.7755769 L16.7071667,101.8875 C16.7071667,101.8875 16.7071667,102.019038 16.6778333,102.209038 C16.4871667,103.265 15.752,103.981154 14.6043333,103.981154 L11.7975,103.981154 C11.7975,103.981154 11.6636667,103.981154 11.4583333,103.95375 C10.4133333,103.778365 9.69283333,103.016538 9.69283333,101.8875 L9.69283333,99.0886538 C9.69283333,99.0886538 9.69283333,98.9406731 9.72216667,98.7506731 C9.89816667,97.6947115 10.648,96.9767308 11.7975,96.9767308 L14.6061667,96.9767308 C14.6061667,96.9767308 14.7381667,96.9767308 14.9435,97.0059615 C16.0031667,97.1813462 16.709,97.9431731 16.709,99.0886538 L15.312,99.0886538 C15.312,98.6026923 15.0333333,98.3834615 14.6061667,98.3834615 L11.7975,98.3834615 C11.3263333,98.3834615 11.0898333,98.6611538 11.0898333,99.0886538 L11.0898333,101.8875 C11.0898333,102.355192 11.3703333,102.57625 11.7975,102.57625 L14.6061667,102.57625 C15.0773333,102.57625 15.312,102.296731 15.312,101.8875 L15.312,101.184135 L13.2091667,101.184135 L13.2091667,99.7755769 L16.709,99.7755769 L16.7071667,99.7755769 Z" id="Shape" fill="#FFFFFF"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </a>

          </div>
		  {% endcomment %}

        </div>
      </div>
      <div class="rb-col-md-6">
        <div class="item-slide sunglasses-bg wow animated" style="visibility: visible; background-image:url('{{ section.settings.image_2 | img_url: '600x600' }}')">
          <a href="{{ section.settings.image_2_link }}">
            <span class="wow fadeInUp" data-wow-duratio1="2s" style="visibility: visible; animation-name: fadeInUp;">{{ section.settings.image_2_title }}</span>
          </a>
        </div>
        <div class="item-slide eyeglasses-bg" style="background-image:url('{{ section.settings.image_3 | img_url: '600x600' }}')">
          <a href="{{ section.settings.image_3_link }}">
            <span class="wow fadeInUp" data-wow-duratio1="2s" style="visibility: visible; animation-name: fadeInUp;">{{ section.settings.image_3_title }}</span>

          </a>
        </div>
      </div>
    </div>
  </div>

</div>
{{ 'home-page.css' | asset_url | stylesheet_tag }}
{% schema %}
{
"name": "Banner with 3 Images",
"settings": [
{
"type": "image_picker",
"id": "image_1",
"label": "Left Large Image"
},
{
"id": "image_1_link",
"type": "url",
"label": "Image 1 Link"
},
{
"id": "ray_ban_link",
"type": "url",
"label": "Ray Ban logo Link"
},
{
"type": "image_picker",
"id": "image_2",
"label": "Right Top Image"
},
{
"type": "text",
"id": "image_2_title",
"label": "Image 2 Title",
"default": "Sunglasses"
},
{
"id": "image_2_link",
"type": "url",
"label": "Right Top Link"
},
{
"type": "image_picker",
"id": "image_3",
"label": "Right Bottom Image"
},
{
"type": "text",
"id": "image_3_title",
"label": "Image 3 Title",
"default": "Eyeglasses"
},
{
"id": "image_3_link",
"type": "url",
"label": "Right Bottom Link"
}
],

"presets": [
{
"name": "Banner with 3 Images",
"category": "Image"
}
]
}


{% endschema %}

<style>
.banner-3-img .rb-row{
display:flex;
flex-wrap: wrap;
padding-right: 13px;
}

.banner-3-img .rb-row .banner-wrapper{
height: 527px;
margin: 0 14.8px 0 14px;
background-repeat: no-repeat;
background-size: cover;
position: relative;
box-sizing: border-box;
background-position: center center;
}

.banner-3-img .rb-row .banner-wrapper  a:hover{
background-color:rgba(0,0,0,.3);
}

.banner-wrapper .label-logo {
position: absolute;
height: auto;
width: 210px;
top: 0;
left: calc(50% - 105px);
}

.banner-3-img .banner-wrapper .label-logo svg{
width: 45%;
height: auto;
display: block;
margin: 0 auto;
}

.banner-3-img .rb-col-md-6{
-webkit-box-flex: 0;
flex: 0 0 50%;
max-width: 50%;
}

.banner-3-img .rb-row .item-slide{
padding: 0px;
height: 255px;
margin-bottom: 17px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
position: relative;
}

.banner-3-img .rb-row .item-slide span{
text-align: center;
width: 100%;
box-sizing: border-box;
font-size: 30px;
position: absolute;
bottom: 6%;
left: 0;
color: #fff;
}

.banner-3-img .rb-row .item-slide  a{
width: 100%;
height: 100%;
display: block;
}

.banner-3-img .rb-row .item-slide  a:hover{
background-color:rgba(0,0,0,.3);
}

@media only screen and (max-width: 800px) {
.banner-3-img .rb-row{
flex-direction:column;
padding:0px;
}

.banner-3-img .rb-col-md-6 {
width:100%;
max-width:100%;
}

.banner-3-img .rb-row .banner-wrapper {
margin:0px;
}

.banner-3-img .rb-row .item-slide{
padding: 0px;
margin: 20px;
}
}
@media only screen and (max-width: 768px) {
.banner-3-img .rb-row .banner-wrapper{
background-image:url('{{ section.settings.image_1 | img_url: '470x527' }}');
height:415px;
}
}
</style>

{% javascript %}
{% endjavascript %}
