{% style %}{% render 'common-css' with section as section %}{% endstyle %}
{% style %}
    #s--{{-section.id}} { padding-bottom: 100px; padding-top:70px; }
    #s--{{-section.id}} .logolist__logo { {%- if section.blocks.size == 0 -%} {%- assign div = 4 -%} {%- else -%} {%- assign div = section.blocks.size -%} {%-endif-%} width: {{100 | divided_by: div | at_least: 25}}%; }
    #s--{{-section.id}} .logolist__logo img { {%- if section.settings.hover == "opacitybw" or section.settings.hover == "opacity" -%} opacity: 0.75; {%- endif -%} {%- if section.settings.hover == "opacitybw" or section.settings.hover == "bw" -%} filter: saturate(0); {%- endif -%} transition: all 0.15s; }
    {%- unless section.settings.hover == "none" -%} #s--{{-section.id}} .logolist__logo:hover img { opacity: 1; filter: saturate(1); } {%- endunless -%}
    .layout__stretchBg>.logolist__holder.layout__content{ max-width: 1032px; }
    #colorcode{}
    @media(min-width:768px) and (max-width:1023px){
        #s--{{-section.id}} { padding-bottom: 75px; padding-top:40px; }
    }    
    @media(max-width:767px){
      #s--{{-section.id}} { padding-bottom: 75px; padding-top:40px; }
      #s--{{section.id}} .logolist__holder{ padding-left: 15px; padding-right: 15px; }
      #s--{{section.id}} .logolist__logo{ width: 45% !important; margin: auto; }
    }
{% endstyle %}
    
  <div
    id="s--{{section.id}}"
    {% unless section.settings.backgroundImage == nil -%}{% render 'background', image: section.settings.backgroundImage %}{%- endunless %}
    class="{% render 'common-class', section: section, class: 'row', bg: true %}">
      <div class="do_placeholder ph-item" style="width:100%;height:500px;"></div>
      {%- capture home_v2_logo_list -%}
        {%- if section.settings.overlayOpacity > 0 -%}
          <div
          class="overlay"
          style="opacity: {{section.settings.overlayOpacity | times: 0.01}}; background-color: {{section.settings.overlayColor}};">
          </div>
        {%- endif -%}
        {% render 'block__general--heading' with section as section %}
        <div
        class="logolist__holder {{ section.settings.horizontalAlignment }} layout__content s__content">
          {%- for logo in section.blocks -%}
              {%- if logo.settings.logoLink != blank -%}
                  <a href="{{logo.settings.logoLink}}" class="logolist__logo">{% render 'ratio-image', ratioType: 'vw', dratio: '25', mratio: '50', image: logo.settings.logo %}</a>
              {%- else -%}
                  <span class="logolist__logo">{% render 'ratio-image', ratioType: 'vw', dratio: '25', mratio: '50', image: logo.settings.logo %}</span>
              {%- endif -%}
          {%- else -%}
            {%- for i in (1..4) -%}
              <span class="logolist__logo">{{'product-' | append: i | placeholder_svg_tag: 'svg__thumb'}}</span>
            {%- endfor -%}
          {%- endfor -%}
        </div>
      {%- endcapture -%}
</div>
<script defer>
  window.ATC_GRID_TEMPLATE = window.ATC_GRID_TEMPLATE || {};
  document.addEventListener("DOMContentLoaded", function(event) { 
      let  homeV2LogoListSelector = document.getElementById(`s--{{section.id}}`); 
      homeV2LogoListSelector && (
        homeV2LogoListSelector.innerHTML = `{{-home_v2_logo_list | strip-}}`
      );
  });
  $('body').on('change','#customTabSelect',function(){
      var CurVal = $(this).val();
      BoosterTheme.ELEMENTS.toggleTab(this, CurVal);
  });
</script>   
{% schema %}
  {
      "name": {
          "en": "Home v2 Logo list"
      },
      "settings": [
        {
        "type": "header",
        "content": "Help"
      },
      {
        "type": "paragraph",
        "content": "[Click here to follow an interactive Tutorial](https://vimeo.com/458157399)"
      },
      {
      "type": "header",
      "content": "Section layout"
  },
  {
    "type": "radio",
    "id": "displayFor",
    "label": "Show this section on",
    "options": [
      {"value": "display--both", "label": "All devices"},
      {"value": "hide-desktop", "label": "Mobile only"},
      {"value": "hide-mobile", "label": "Desktop only"}
    ],
    "default": "display--both"
  },
  {
    "type": "select",
    "id": "layout",
    "label": "Section layout",
    "options": [
      {"value": "default", "label": "Global default"},
      {"value": "boxed", "label": "Boxed"},
      {"value": "stretchBg", "label": "Full width background"},
      {"value": "stretchContent", "label": "Full width"}
    ],
    "default": "default"
  },
  {
    "type": "checkbox",
    "id": "nomargin",
    "default": false,
    "label": "Remove section's bottom margin"
  },
  {
    "type": "textarea",
    "id": "scopedCSS",
    "label": "Section-scoped CSS",
    "info": "Rules beginning with ##scoped will be scoped to this section. (Example: ##scoped h1 {color: blue})"
  },
  {
    "type": "range",
    "id": "height",
    "label": "Minimum height",
    "default": 0,
    "min": 0,
    "max": 800,
    "step": 10,
    "unit": "px"
  },
  {
    "type": "range",
    "id": "padding",
    "label": "Section padding",
    "default": 0,
    "min": 0,
    "max": 50,
    "step": 5,
    "unit": "px"
  },
  {
    "type": "range",
    "id": "lineMargin",
    "label": "Space between blocks",
    "default": 12,
    "min": 0,
    "max": 50,
    "step": 1,
    "unit": "px"
  },
      {
      "type": "header",
      "content": "Section background"
  },
  {
    "id": "backgroundColor",
    "type": "color",
    "default": "rgba(0,0,0,0)",
    "label": "Background color"
  },
  {
    "type": "image_picker",
    "id": "backgroundImage",
    "label": "Background image"
  },
  {
    "type": "select",
    "id": "backgroundPosition",
    "label": "Background image position",
    "options": [
      {"value": "top", "label": "Top"},
      {"value": "middle", "label": "Middle"},
      {"value": "bottom", "label": "Bottom"}
    ],
    "default": "middle"
  },
  {
    "type": "select",
    "options": [
      {"value": "none", "label": "None"},
      {"value": "blur", "label": "Blur"},
      {"value": "contrast", "label": "Contrast"},
      {"value": "grayscale", "label": "Black & White"},
      {"value": "invert", "label": "Invert colors"},
      {"value": "sepia", "label": "Sepia (retro)"},
      {"value": "saturate", "label": "Saturation"}
    ],
    "id": "backgroundFilter",
    "label": "Background effect",
    "default": "none"
  },
  {
    "type": "range",
    "min": 0,
    "max": 100,
    "step": 5,
    "label": "Effect intensity",
    "id": "backdropIntensity",
    "default": 50,
    "unit": "%"
  },
  {
    "type": "checkbox",
    "id": "parallax",
    "label": "Enable parallax",
    "default": false
  },
  {
    "type": "checkbox",
    "id": "backgroundPattern",
    "label": "Background pattern",
    "default": false
  },
  {
    "type": "header",
    "content": "Background overlay"
  },
  {
    "type": "range",
    "id": "overlayOpacity",
    "min": 0,
    "max": 100,
    "step": 5,
    "label": "Overlay opacity",
    "default": 0,
    "unit": "%"
  },
  {
    "type": "color",
    "id": "overlayColor",
    "label": "Overlay color",
    "default": "#000000"
  },
      {
      "type": "header",
      "content": "Section content"
  },
  {
    "type": "select",
    "id": "horizontalAlignment",
    "label": "Content alignment (left to right)",
    "options": [
      {"value": "start", "label": "Left"},
      {"value": "center", "label": "Center"},
      {"value": "end", "label": "Right"}
    ],
    "default": "center"
  },
  {
    "type": "select",
    "id": "verticalAlignment",
    "label": "Content alignment (top to bottom)",
    "options": [
      {"value": "top", "label": "Top"},
      {"value": "middle", "label": "Middle"},
      {"value": "bottom", "label": "Bottom"}
    ],
    "default": "middle"
  },
      {
      "type": "header",
      "content": "Section heading"
  },
  {
      "type": "text",
      "id": "heading",
      "label": "Section heading",
      "default": "Check out this section's heading"
  },
  {
      "type": "color",
      "id": "headingColor",
      "default": "rgba(0,0,0,0)",
      "label": "Heading Color"
  },
  {
      "type": "text",
      "id": "subheading",
      "label": "Section subheading",
      "default": "THIS IS A SUBHEADING"
  },
  {
      "type": "color",
      "id": "subheadingColor",
      "default": "rgba(0,0,0,0)",
      "label": "Subheading Color"
  },
  {
      "type": "select",
      "id": "subheadingPosition",
      "label": "Subheading position",
      "options": [
        {"value": "above", "label": "Above heading"},
        {"value": "below", "label": "Below heading"}
      ],
      "default": "above"
  },
  {
      "type": "select",
      "id": "headingAlignment",
      "label": "Heading alignment (left to right)",
      "options": [
      {"value": "start", "label": "Left"},
      {"value": "center", "label": "Center"},
      {"value": "end", "label": "Right"}
      ],
      "default": "center"
  },
      {
        "type": "header",
        "content": "Logo style"
      },
      {
        "type": "radio",
        "id": "hover",
        "label": "Hover animation",
        "options": [
          {"value": "opacity", "label": "Opacity"},
          {"value": "bw", "label": "Black and white"},
          {"value": "opacitybw", "label": "Opacity and B&W"},
          {"value": "none", "label": "None"}
        ],
        "default": "opacitybw"
      }
      ],
      "blocks": [
      {
          "type": "logoListLogo",
          "name": "Logo",
          "settings": [
              {
                  "type": "image_picker",
                  "label": "Logo",
                  "id": "logo"
              },
              {
                  "type": "url",
                  "label": "Links to",
                  "id": "logoLink"
              }
          ]
      }
      ],
      "presets": [
        {
          "category": "Structure",
          "name": "Home v2 Logo list",
          "settings": {
          },
          "blocks": [
          ]
        }
      ]
    }
  {% endschema %}