<style>
{% render 'common-css', section: section %}

{% if section.settings.overlayOpacity > 0 %}
.overlay--{{-section.id}} {
    opacity: {{section.settings.overlayOpacity | times: 0.01}};
    background-color: {{section.settings.overlayColor}};
}
{% endif %}

.max-width--content {
  position: relative;
}

@media screen and (min-width: 768px){
  #maxWidth--{{-section.id}}{
    max-width: {{section.settings.maxContentWidth-}}%;
  }
}

#colorcode{}
</style>

<style type="text/css">
#s--{{section.id}} .accordion__item {
  background: {{section.settings.backgroundColor}};
  text-align: left;
}

#s--{{section.id}} .accordion__item--title {
    padding: 0.5rem 1rem;
}

#s--{{section.id}} .accordion__item--content p, #s--{{section.id}} .accordion__item--title {
  color: {% unless section.settings.contentColor contains 'rgba(0,0,0,0)' %}{{section.settings.contentColor}}{% else %}initial{% endunless %};
}

#s--{{section.id}} .accordion {
    max-width: 800px;
    margin: auto;
}
</style>

<div
id="s--{{section.id}}"
{% unless section.settings.backgroundImage == nil -%}{% render 'background', image: section.settings.backgroundImage %}{%- endunless %}
class="{% render 'common-class', section: section, class: 'row', bg: true %}">
  {% if section.settings.overlayOpacity > 0 %}
    <div
    class="overlay overlay--{{section.id}}"
    style="opacity: {{section.settings.overlayOpacity | times: 0.01}}; background-color: {{section.settings.overlayColor}};">
    </div>
  {% endif %}
  <div 
  class="row no-gap {{ section.settings.horizontalAlignment }} layout__content s__content">
    <div id="maxWidth--{{section.id}}" class="row max-width--content accordion {{ section.settings.horizontalAlignment }}">
      {% render 'block__general--heading' with section as section %}
        {% if section.settings.textContent != empty %}
            <div style="margin-bottom: 1.5rem;" class="booster--revert">
                {{section.settings.textContent|trim}}
            </div>
        {% endif %}
        <input type="radio" id="{{section.id}}--close" name="{{section.id}}">
        {% for block in section.blocks %}
        {% if block.settings.question == empty or block.settings.answer == empty %}{% continue %}{% endif %}
        <label class="accordion__item" {{block.shopify__attrbutes}}>
            <input type="radio" name="{{section.id}}" {% if forloop.first %}checked{% endif %}>
            <span class="accordion__item--title">{{block.settings.question}}<label class="collapse" for="{{section.id}}--close"></label></span>
            <div class="accordion__item--content">{{block.settings.answer}}</div>
        </label>
    {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
    "name": {
        "en": "FAQ"
    },
    "settings": [
      {
            "type": "header",
            "content": "Help"
        },
        {
        "type": "paragraph",
        "content": "[Click here to follow an interactive Tutorial](https://vimeo.com/458159172)"
        },
    {
    "type": "header",
    "content": "Section layout"
},
{
  "type": "radio",
  "id": "displayFor",
  "label": "Show this section on",
  "options": [
    {"value": "display--both", "label": "All devices"},
    {"value": "hide-desktop", "label": "Mobile only"},
    {"value": "hide-mobile", "label": "Desktop only"}
  ],
  "default": "display--both"
},
{
  "type": "select",
  "id": "layout",
  "label": "Section layout",
  "options": [
    {"value": "default", "label": "Global default"},
    {"value": "boxed", "label": "Boxed"},
    {"value": "stretchBg", "label": "Full width background"},
    {"value": "stretchContent", "label": "Full width"}
  ],
  "default": "default"
},
{
  "type": "checkbox",
  "id": "nomargin",
  "default": false,
  "label": "Remove section's bottom margin"
},
{
  "type": "textarea",
  "id": "scopedCSS",
  "label": "Section-scoped CSS",
  "info": "Rules beginning with ##scoped will be scoped to this section. (Example: ##scoped h1 {color: blue})"
},
{
  "type": "range",
  "id": "height",
  "label": "Minimum height",
  "default": 0,
  "min": 0,
  "max": 800,
  "step": 10,
  "unit": "px"
},
{
  "type": "range",
  "id": "padding",
  "label": "Section padding",
  "default": 0,
  "min": 0,
  "max": 50,
  "step": 5,
  "unit": "px"
},
{
  "type": "range",
  "id": "lineMargin",
  "label": "Space between blocks",
  "default": 12,
  "min": 0,
  "max": 50,
  "step": 1,
  "unit": "px"
},
    {
    "type": "header",
    "content": "Section background"
},
{
  "id": "backgroundColor",
  "type": "color",
  "default": "rgba(0,0,0,0)",
  "label": "Background color"
},
{
  "type": "image_picker",
  "id": "backgroundImage",
  "label": "Background image"
},
{
  "type": "select",
  "id": "backgroundPosition",
  "label": "Background image position",
  "options": [
    {"value": "top", "label": "Top"},
    {"value": "middle", "label": "Middle"},
    {"value": "bottom", "label": "Bottom"}
  ],
  "default": "middle"
},
{
  "type": "select",
  "options": [
    {"value": "none", "label": "None"},
    {"value": "blur", "label": "Blur"},
    {"value": "contrast", "label": "Contrast"},
    {"value": "grayscale", "label": "Black & White"},
    {"value": "invert", "label": "Invert colors"},
    {"value": "sepia", "label": "Sepia (retro)"},
    {"value": "saturate", "label": "Saturation"}
  ],
  "id": "backgroundFilter",
  "label": "Background effect",
  "default": "none"
},
{
  "type": "range",
  "min": 0,
  "max": 100,
  "step": 5,
  "label": "Effect intensity",
  "id": "backdropIntensity",
  "default": 50,
  "unit": "%"
},
{
  "type": "checkbox",
  "id": "parallax",
  "label": "Enable parallax",
  "default": false
},
{
  "type": "checkbox",
  "id": "backgroundPattern",
  "label": "Background pattern",
  "default": false
},
{
  "type": "header",
  "content": "Background overlay"
},
{
  "type": "range",
  "id": "overlayOpacity",
  "min": 0,
  "max": 100,
  "step": 5,
  "label": "Overlay opacity",
  "default": 0,
  "unit": "%"
},
{
  "type": "color",
  "id": "overlayColor",
  "label": "Overlay color",
  "default": "#000000"
},
    {
    "type": "header",
    "content": "Section content"
},
{
  "type": "color",
  "id": "contentColor",
  "label": "Default text color",
  "default": "rgba(0,0,0,0)"
},
{
  "type": "select",
  "id": "horizontalAlignment",
  "label": "Content alignment (left to right)",
  "options": [
    {"value": "start", "label": "Left"},
    {"value": "center", "label": "Center"},
    {"value": "end", "label": "Right"}
  ],
  "default": "center"
},
{
  "type": "select",
  "id": "verticalAlignment",
  "label": "Content alignment (top to bottom)",
  "options": [
    {"value": "top", "label": "Top"},
    {"value": "middle", "label": "Middle"},
    {"value": "bottom", "label": "Bottom"}
  ],
  "default": "middle"
},
    {
      "type": "range",
      "id": "maxContentWidth",
      "label": "Max Content Width",
      "default": 100,
      "min": 5,
      "max": 100,
      "step": 5,
      "unit": "%"
    },
    {
    "type": "header",
    "content": "Section heading"
},
{
    "type": "text",
    "id": "heading",
    "label": "Section heading",
    "default": "Check out this section's heading"
},
{
    "type": "color",
    "id": "headingColor",
    "default": "rgba(0,0,0,0)",
    "label": "Heading Color"
},
{
    "type": "text",
    "id": "subheading",
    "label": "Section subheading",
    "default": "THIS IS A SUBHEADING"
},
{
    "type": "color",
    "id": "subheadingColor",
    "default": "rgba(0,0,0,0)",
    "label": "Subheading Color"
},
{
    "type": "select",
    "id": "subheadingPosition",
    "label": "Subheading position",
    "options": [
      {"value": "above", "label": "Above heading"},
      {"value": "below", "label": "Below heading"}
    ],
    "default": "above"
},
{
    "type": "select",
    "id": "headingAlignment",
    "label": "Heading alignment (left to right)",
    "options": [
    {"value": "start", "label": "Left"},
    {"value": "center", "label": "Center"},
    {"value": "end", "label": "Right"}
    ],
    "default": "center"
},
    {
        "type": "richtext",
        "label": "Section's text",
        "id": "textContent"
    }
    ],
    "blocks": [{
    "type": "accordion",
    "name": "Accordion",
    "settings": [
        {
            "type": "richtext",
            "id": "question",
            "label": "Question"
        },
        {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
        }
    ]
}],
    "presets": [
        {
            "name": "FAQ",
            "category": "Content"
        }
    ]
  }
{% endschema %}