<style>
{% render 'common-css' with section as section %}


{% if section.settings.overlayOpacity > 0 %}
.overlay--{{-section.id}} {
    opacity: {{section.settings.overlayOpacity | times: 0.01}};
    background-color: {{section.settings.overlayColor}};
}
{% endif %}

#s--{{-section.id}} .s__block {
    display: flex;
}

#colorcode{}
</style>

<div
id="s--{{-section.id}}"
{% unless section.settings.backgroundImage == nil -%}{% render 'background', image: section.settings.backgroundImage %}{%- endunless %}
class="{% render 'common-class', section: section, class: 'row', bg: true %}">
  {% if section.settings.overlayOpacity > 0 %}
    <div
    class="overlay overlay--{{-section.id}}"
    style="opacity: {{section.settings.overlayOpacity | times: 0.01}}; background-color: {{section.settings.overlayColor}};">
    </div>
  {% endif %}
  <div 
  class="row {{ section.settings.horizontalAlignment }} layout__content s__content">
    {%- for block in section.blocks %}
        {% if block.type == '@app' %}
            <div 
            class="s__block s__block--{{-block.type}} 
            unflex
            col-12 no-gap">
                {% render block %}
            </div>
          {% continue %}
        {% endif %}
        <style>
        #b--{{block.id}} {
            padding: {{block.settings.vertPadding}}px {{block.settings.horPadding}}px;
            {% if block.settings.customMaxWidthMK %}
            max-width: {{ block.settings.customMaxWidthMK }};
            {% endif %}
        }

        {% if block.settings.customBreakpointOneMK and block.settings.customStylesBrOneMK %}
        {% assign brPt = block.settings.customBreakpointOneMK | plus:"px" %}
        @media (max-width:"{{brPt}}") {
          #b--{{block.id}} {
            {{block.settings.customStylesBrOneMK}}
          }
        }
        {% endif %}

        {% if block.settings.customBreakpointTwoMK and block.settings.customStylesBrTwoMK %}
        {% assign brPt = block.settings.customBreakpointTwoMK | plus:"px" %}
        @media (max-width:"{{brPt}}") {
          #b--{{block.id}} {
            {{block.settings.customStylesBrTwoMK}}
          }
        }
        {% endif %}

        

        #colorcode {};
        </style>
        <div 
        id="b--{{block.id}}"
        class="s__block s__block--{{-block.type}} 
        {{block.settings.vertAlign}} {{block.settings.horAlign}}
        {%if block.settings.wideButton %}col-12 no-gap{%else%}{{block.settings.blockWidth}} col-12{%endif-%}">
        {% render 'get-block' with block as block %}
        </div>
    {% endfor %}
  </div>
</div>


{% schema %}
{
  "name": {
    "en": "Custom content"
  },
  "settings": [
    {
      "type": "header",
      "content": "Help"
    },
    {
      "type": "paragraph",
      "content": "[Click here to follow an interactive Tutorial](https://vimeo.com/458157711)"
    },
    {
      "type": "header",
      "content": "Section layout"
    },
    {
      "type": "radio",
      "id": "displayFor",
      "label": "Show this section on",
      "options": [
        {
          "value": "display--both",
          "label": "All devices"
        },
        {
          "value": "hide-desktop",
          "label": "Mobile only"
        },
        {
          "value": "hide-mobile",
          "label": "Desktop only"
        }
      ],
      "default": "display--both"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Section layout",
      "options": [
        {
          "value": "default",
          "label": "Global default"
        },
        {
          "value": "boxed",
          "label": "Boxed"
        },
        {
          "value": "stretchBg",
          "label": "Full width background"
        },
        {
          "value": "stretchContent",
          "label": "Full width"
        }
      ],
      "default": "default"
    },
    {
      "type": "checkbox",
      "id": "nomargin",
      "default": false,
      "label": "Remove section's bottom margin"
    },
    {
      "type": "textarea",
      "id": "scopedCSS",
      "label": "Section-scoped CSS",
      "info": "Rules beginning with ##scoped will be scoped to this section. (Example: ##scoped h1 {color: blue})"
    },
    {
      "type": "range",
      "id": "height",
      "label": "Minimum height",
      "default": 0,
      "min": 0,
      "max": 800,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding",
      "label": "Section padding",
      "default": 0,
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "lineMargin",
      "label": "Space between blocks",
      "default": 12,
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Section background"
    },
    {
      "id": "backgroundColor",
      "type": "color",
      "default": "rgba(0,0,0,0)",
      "label": "Background color"
    },
    {
      "type": "image_picker",
      "id": "backgroundImage",
      "label": "Background image"
    },
    {
      "type": "select",
      "id": "backgroundPosition",
      "label": "Background image position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "middle"
    },
    {
      "type": "select",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "blur",
          "label": "Blur"
        },
        {
          "value": "contrast",
          "label": "Contrast"
        },
        {
          "value": "grayscale",
          "label": "Black & White"
        },
        {
          "value": "invert",
          "label": "Invert colors"
        },
        {
          "value": "sepia",
          "label": "Sepia (retro)"
        },
        {
          "value": "saturate",
          "label": "Saturation"
        }
      ],
      "id": "backgroundFilter",
      "label": "Background effect",
      "default": "none"
    },
    {
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Effect intensity",
      "id": "backdropIntensity",
      "default": 50,
      "unit": "%"
    },
    {
      "type": "checkbox",
      "id": "parallax",
      "label": "Enable parallax",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "backgroundPattern",
      "label": "Background pattern",
      "default": false
    },
    {
      "type": "header",
      "content": "Background overlay"
    },
    {
      "type": "range",
      "id": "overlayOpacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Overlay opacity",
      "default": 0,
      "unit": "%"
    },
    {
      "type": "color",
      "id": "overlayColor",
      "label": "Overlay color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section content"
    },
    {
      "type": "color",
      "id": "contentColor",
      "label": "Default text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "select",
      "id": "horizontalAlignment",
      "label": "Content alignment (left to right)",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "verticalAlignment",
      "label": "Content alignment (top to bottom)",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "middle"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "Heading",
      "settings": [
        {
          "type": "select",
          "label": "Width",
          "options": [
            {
              "value": "col-md-12",
              "label": "100%"
            },
            {
              "value": "col-md-9",
              "label": "75%"
            },
            {
              "value": "col-md-8",
              "label": "66%"
            },
            {
              "value": "col-md-6",
              "label": "50%"
            },
            {
              "value": "col-md-4",
              "label": "33%"
            },
            {
              "value": "col-md-3",
              "label": "25%"
            },
            {
              "value": "col-md-1-5",
              "label": "20%"
            }
          ],
          "default": "col-md-3",
          "id": "blockWidth"
        },
        {
          "type": "range",
          "label": "Vertical padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 12,
          "unit": "px",
          "id": "vertPadding"
        },
        {
          "type": "range",
          "label": "Horizontal padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 4,
          "unit": "px",
          "id": "horPadding"
        },
        {
          "type": "select",
          "id": "horAlign",
          "label": "Block alignment (left to right)",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "vertAlign",
          "label": "Block alignment (top to bottom)",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle"
        },
        {
          "id": "content",
          "type": "text",
          "label": "Header",
          "default": "Hey check this out!"
        },
        {
          "type": "color",
          "id": "textColor",
          "default": "rgba(0,0,0,0)",
          "label": "Text color"
        },
        {
          "type": "header",
          "content": "Font"
        },
        {
          "type": "radio",
          "id": "fontFamily",
          "label": "Font Family",
          "options": [
            {
              "value": "base",
              "label": "Base font family"
            },
            {
              "value": "title",
              "label": "Title font family"
            }
          ],
          "default": "title"
        },
        {
          "type": "select",
          "label": "Font Size",
          "default": "medium",
          "id": "fontSize",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "base",
              "label": "Base"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "big",
              "label": "Big"
            }
          ]
        }
      ]
    },
    {
      "type": "richText",
      "name": "Text",
      "settings": [
        {
          "type": "select",
          "label": "Width",
          "options": [
            {
              "value": "col-md-12",
              "label": "100%"
            },
            {
              "value": "col-md-9",
              "label": "75%"
            },
            {
              "value": "col-md-8",
              "label": "66%"
            },
            {
              "value": "col-md-6",
              "label": "50%"
            },
            {
              "value": "col-md-4",
              "label": "33%"
            },
            {
              "value": "col-md-3",
              "label": "25%"
            },
            {
              "value": "col-md-1-5",
              "label": "20%"
            }
          ],
          "default": "col-md-3",
          "id": "blockWidth"
        },
        {
          "type": "range",
          "label": "Vertical padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 12,
          "unit": "px",
          "id": "vertPadding"
        },
        {
          "type": "range",
          "label": "Horizontal padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 4,
          "unit": "px",
          "id": "horPadding"
        },
        {
          "type": "select",
          "id": "horAlign",
          "label": "Block alignment (left to right)",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "vertAlign",
          "label": "Block alignment (top to bottom)",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle"
        },
        {
          "type": "range",
          "default": 100,
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "id": "maxBWidth",
          "label": "Width (desktop)",
          "info": "Maximum width content of this block can span on Desktop."
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>This is for your text</p>"
        },
        {
          "type": "checkbox",
          "id": "detectLists",
          "label": "Automatically detect lists",
          "default": true,
          "info": "If a row begins with a '-' (dash), theme will automatically turn this row into a list element."
        },
        {
          "type": "color",
          "id": "textColor",
          "label": "Text color",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "header",
          "content": "Font"
        },
        {
          "type": "radio",
          "id": "fontFamily",
          "label": "Font Family",
          "options": [
            {
              "value": "base",
              "label": "Base font family"
            },
            {
              "value": "title",
              "label": "Title font family"
            }
          ],
          "default": "base"
        },
        {
          "type": "select",
          "label": "Font Size",
          "default": "base",
          "id": "fontSize",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "base",
              "label": "Base"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "big",
              "label": "Big"
            }
          ]
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "select",
          "label": "Width",
          "options": [
            {
              "value": "col-md-12",
              "label": "100%"
            },
            {
              "value": "col-md-9",
              "label": "75%"
            },
            {
              "value": "col-md-8",
              "label": "66%"
            },
            {
              "value": "col-md-6",
              "label": "50%"
            },
            {
              "value": "col-md-4",
              "label": "33%"
            },
            {
              "value": "col-md-3",
              "label": "25%"
            },
            {
              "value": "col-md-1-5",
              "label": "20%"
            }
          ],
          "default": "col-md-3",
          "id": "blockWidth"
        },
        {
          "type": "range",
          "label": "Vertical padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 12,
          "unit": "px",
          "id": "vertPadding"
        },
        {
          "type": "range",
          "label": "Horizontal padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 4,
          "unit": "px",
          "id": "horPadding"
        },
        {
          "type": "select",
          "id": "horAlign",
          "label": "Block alignment (left to right)",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "vertAlign",
          "label": "Block alignment (top to bottom)",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle"
        },
        {
          "id": "text",
          "label": "Button text",
          "type": "text",
          "default": "Get this now!"
        },
        {
          "id": "url",
          "type": "url",
          "label": "Links to"
        },
        {
          "type": "text",
          "id": "icon",
          "label": "Button icon",
          "info": "Dashed icon from the [Unicons library](https://iconscout.com/unicons/explore/line)",
          "placeholder": "shopping-cart"
        },
        {
          "type": "select",
          "id": "iconPosition",
          "options": [
            {
              "value": "icon--left",
              "label": "Left"
            },
            {
              "value": "icon--right",
              "label": "Right"
            }
          ],
          "default": "icon--left",
          "label": "Icon position"
        },
        {
          "type": "header",
          "content": "Button style"
        },
        {
          "id": "wideButton",
          "type": "checkbox",
          "label": "Make the button full width",
          "default": false
        },
        {
          "id": "buttonStyle",
          "type": "select",
          "label": "Color combination",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ],
          "default": "primary"
        },
        {
          "id": "buttonType",
          "type": "select",
          "label": "Button type",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "filled",
              "label": "Filled"
            },
            {
              "value": "ghost",
              "label": "Ghost"
            },
            {
              "value": "underlined",
              "label": "Underlined"
            },
            {
              "value": "text",
              "label": "Text"
            }
          ],
          "default": "default"
        },
        {
          "type": "header",
          "content": "Font"
        },
        {
          "type": "select",
          "label": "Font size",
          "id": "fontSize",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "base",
              "label": "Base"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "big",
              "label": "Big"
            }
          ],
          "default": "base"
        },
        {
          "type": "header",
          "content": "Font"
        },
        {
          "type": "radio",
          "id": "fontFamily",
          "label": "Font Family",
          "options": [
            {
              "value": "base",
              "label": "Base font family"
            },
            {
              "value": "title",
              "label": "Title font family"
            }
          ],
          "default": "base"
        },
        {
          "type": "header",
          "content": "Animation"
        },
        {
          "type": "select",
          "label": "Animation name",
          "id": "animation",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "heartBeat",
              "label": "Heart Beat"
            },
            {
              "value": "jello",
              "label": "Jello"
            },
            {
              "value": "wobble",
              "label": "Wobble"
            },
            {
              "value": "tada",
              "label": "Ta-da!"
            },
            {
              "value": "swing",
              "label": "Swing"
            },
            {
              "value": "bounce",
              "label": "Bounce"
            },
            {
              "value": "flash",
              "label": "Flash"
            },
            {
              "value": "pulse",
              "label": "Pulse"
            },
            {
              "value": "rubberBand",
              "label": "Rubberband"
            },
            {
              "value": "shake",
              "label": "Shake"
            }
          ]
        },
        {
          "type": "range",
          "min": 100,
          "max": 2500,
          "step": 25,
          "default": 1000,
          "unit": "ms",
          "id": "animationDuration",
          "label": "Animation duration"
        },
        {
          "type": "checkbox",
          "label": "Animate infinitely",
          "id": "animationInfinite",
          "default": true
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "select",
          "label": "Width",
          "options": [
            {
              "value": "col-md-12",
              "label": "100%"
            },
            {
              "value": "col-md-9",
              "label": "75%"
            },
            {
              "value": "col-md-8",
              "label": "66%"
            },
            {
              "value": "col-md-6",
              "label": "50%"
            },
            {
              "value": "col-md-4",
              "label": "33%"
            },
            {
              "value": "col-md-3",
              "label": "25%"
            },
            {
              "value": "col-md-1-5",
              "label": "20%"
            }
          ],
          "default": "col-md-3",
          "id": "blockWidth"
        },
        {
          "type": "range",
          "label": "Vertical padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 12,
          "unit": "px",
          "id": "vertPadding"
        },
        {
          "type": "range",
          "label": "Horizontal padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 4,
          "unit": "px",
          "id": "horPadding"
        },
        {
          "type": "select",
          "id": "horAlign",
          "label": "Block alignment (left to right)",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "vertAlign",
          "label": "Block alignment (top to bottom)",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle"
        },
        {
          "id": "image",
          "label": "Image",
          "type": "image_picker"
        },
        {
          "type": "text",
          "label": "Max Width",
          "id": "max_width"
        }
      ]
    },
    {
      "type": "html",
      "name": "HTML",
      "settings": [
        {
          "type": "select",
          "label": "Width",
          "options": [
            {
              "value": "col-md-12",
              "label": "100%"
            },
            {
              "value": "col-md-9",
              "label": "75%"
            },
            {
              "value": "col-md-8",
              "label": "66%"
            },
            {
              "value": "col-md-6",
              "label": "50%"
            },
            {
              "value": "col-md-4",
              "label": "33%"
            },
            {
              "value": "col-md-3",
              "label": "25%"
            },
            {
              "value": "col-md-1-5",
              "label": "20%"
            }
          ],
          "default": "col-md-3",
          "id": "blockWidth"
        },
        {
          "type": "range",
          "label": "Vertical padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 12,
          "unit": "px",
          "id": "vertPadding"
        },
        {
          "type": "range",
          "label": "Horizontal padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 4,
          "unit": "px",
          "id": "horPadding"
        },
        {
          "type": "select",
          "id": "horAlign",
          "label": "Block alignment (left to right)",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "vertAlign",
          "label": "Block alignment (top to bottom)",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle"
        },
        {
          "type": "textarea",
          "id": "html",
          "label": "HTML content"
        },
        {
          "type": "textarea",
          "id": "customCSS",
          "label": "Block scoped CSS",
          "info": "##scoped will be replaced by this block's id, making all CSS under this rule block-scoped."
        }
      ]
    },
    {
      "type": "liquidBlock",
      "name": "Liquid",
      "settings": [
        {
          "type": "select",
          "label": "Width",
          "options": [
            {
              "value": "col-md-12",
              "label": "100%"
            },
            {
              "value": "col-md-9",
              "label": "75%"
            },
            {
              "value": "col-md-8",
              "label": "66%"
            },
            {
              "value": "col-md-6",
              "label": "50%"
            },
            {
              "value": "col-md-4",
              "label": "33%"
            },
            {
              "value": "col-md-3",
              "label": "25%"
            },
            {
              "value": "col-md-1-5",
              "label": "20%"
            }
          ],
          "default": "col-md-3",
          "id": "blockWidth"
        },
        {
          "type": "range",
          "label": "Vertical padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 12,
          "unit": "px",
          "id": "vertPadding"
        },
        {
          "type": "range",
          "label": "Horizontal padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 4,
          "unit": "px",
          "id": "horPadding"
        },
        {
          "type": "select",
          "id": "horAlign",
          "label": "Block alignment (left to right)",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "vertAlign",
          "label": "Block alignment (top to bottom)",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle"
        },
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid content"
        },
        {
          "type": "textarea",
          "id": "customCSS",
          "label": "Block scoped CSS",
          "info": "##scoped will be replaced by this block's id, making all CSS under this rule block-scoped."
        }
      ]
    },
    {
      "type": "pageBlock",
      "name": "Page Content",
      "settings": [
        {
          "type": "select",
          "label": "Width",
          "options": [
            {
              "value": "col-md-12",
              "label": "100%"
            },
            {
              "value": "col-md-9",
              "label": "75%"
            },
            {
              "value": "col-md-8",
              "label": "66%"
            },
            {
              "value": "col-md-6",
              "label": "50%"
            },
            {
              "value": "col-md-4",
              "label": "33%"
            },
            {
              "value": "col-md-3",
              "label": "25%"
            },
            {
              "value": "col-md-1-5",
              "label": "20%"
            }
          ],
          "default": "col-md-3",
          "id": "blockWidth"
        },
        {
          "type": "range",
          "label": "Vertical padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 12,
          "unit": "px",
          "id": "vertPadding"
        },
        {
          "type": "range",
          "label": "Horizontal padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 4,
          "unit": "px",
          "id": "horPadding"
        },
        {
          "type": "select",
          "id": "horAlign",
          "label": "Block alignment (left to right)",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "vertAlign",
          "label": "Block alignment (top to bottom)",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Choose a page"
        }
      ]
    },
    {
      "type": "separator",
      "name": "Separator",
      "settings": [
        {
          "type": "select",
          "label": "Width",
          "options": [
            {
              "value": "col-md-12",
              "label": "100%"
            },
            {
              "value": "col-md-9",
              "label": "75%"
            },
            {
              "value": "col-md-8",
              "label": "66%"
            },
            {
              "value": "col-md-6",
              "label": "50%"
            },
            {
              "value": "col-md-4",
              "label": "33%"
            },
            {
              "value": "col-md-3",
              "label": "25%"
            },
            {
              "value": "col-md-1-5",
              "label": "20%"
            }
          ],
          "default": "col-md-3",
          "id": "blockWidth"
        },
        {
          "type": "range",
          "label": "Vertical padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 12,
          "unit": "px",
          "id": "vertPadding"
        },
        {
          "type": "range",
          "label": "Horizontal padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 4,
          "unit": "px",
          "id": "horPadding"
        },
        {
          "type": "select",
          "id": "horAlign",
          "label": "Block alignment (left to right)",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "vertAlign",
          "label": "Block alignment (top to bottom)",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle"
        },
        {
          "type": "range",
          "min": 0,
          "max": 250,
          "step": 5,
          "unit": "px",
          "id": "height",
          "label": "Height",
          "default": 50
        },
        {
          "type": "header",
          "content": "Divider"
        },
        {
          "type": "range",
          "label": "Divider height",
          "unit": "px",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0,
          "id": "dividerHeight"
        },
        {
          "type": "range",
          "label": "Divider width",
          "unit": "%",
          "min": 5,
          "max": 100,
          "step": 5,
          "default": 50,
          "id": "dividerWidth"
        },
        {
          "type": "color",
          "label": "Divider color",
          "default": "#000",
          "id": "dividerColor"
        },
        {
          "type": "select",
          "default": "left",
          "id": "position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "label": "Divider position"
        }
      ]
    },
    {
      "type": "customTitle",
      "name": "Custom Heading",
      "settings": [
        {
          "type": "select",
          "label": "Width",
          "options": [
            {
              "value": "col-md-12",
              "label": "100%"
            },
            {
              "value": "col-md-9",
              "label": "75%"
            },
            {
              "value": "col-md-8",
              "label": "66%"
            },
            {
              "value": "col-md-6",
              "label": "50%"
            },
            {
              "value": "col-md-4",
              "label": "33%"
            },
            {
              "value": "col-md-3",
              "label": "25%"
            },
            {
              "value": "col-md-1-5",
              "label": "20%"
            }
          ],
          "default": "col-md-3",
          "id": "blockWidth"
        },
        {
          "type": "range",
          "label": "Vertical padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 12,
          "unit": "px",
          "id": "vertPadding"
        },
        {
          "type": "range",
          "label": "Horizontal padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 4,
          "unit": "px",
          "id": "horPadding"
        },
        {
          "type": "select",
          "id": "horAlign",
          "label": "Block alignment (left to right)",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "vertAlign",
          "label": "Block alignment (top to bottom)",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle"
        },
        {
          "id": "content",
          "type": "text",
          "label": "Header"
        },
        {
          "type": "color",
          "id": "textColor",
          "default": "rgba(0,0,0,0)",
          "label": "Text color"
        },
        {
          "type": "select",
          "label": "Font size",
          "id": "fontSize",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "base",
              "label": "Base"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "big",
              "label": "Big"
            },
            {
              "value": "custom",
              "label": "Custom"
            }
          ],
          "default": "custom"
        },
        {
          "type": "range",
          "id": "customFontSize",
          "label": "Custom Font size",
          "unit": "px",
          "min": 1,
          "max": 100,
          "step": 1,
          "default": 36
        },
        {
          "type": "checkbox",
          "label": "Use custom font",
          "default": true,
          "id": "customFont"
        },
        {
          "id": "customFontFamily",
          "label": "Custom font",
          "type": "font_picker",
          "default": "work_sans_n6"
        },
        {
          "type": "text",
          "label": "Custom Max Width",
          "id": "customMaxWidthMK"
        },
        {
          "type": "textarea",
          "id": "customStylesMK",
          "label": "Custom Styles"
        },
        { 
          "type": "header",
          "content": "Responsive Styles"
        },
        {
          "type": "text",
          "label": "Block Breakpoint 1",
          "id": "customBreakpointOneMK",
          "default": "1200",
          "info": "Breakpoint for custom styles - Responsive."
        },
        {
          "type": "textarea",
          "id": "customStylesBrOneMK",
          "label": "Custom Styles Responsive Breakpoint 1",
          "info": "Styles for the Screensize of Maximum width mentioned in the block Breakpoint 1"
        },
        {
          "type": "text",
          "label": "Block Breakpoint 2",
          "id": "customBreakpointTwoMK",
          "default": "767",
          "info": "Breakpoint for custom styles 2 - Responsive."
        },
        {
          "type": "textarea",
          "id": "customStylesBrTwoMK",
          "label": "Custom Styles Responsive Breakpoint 2",
          "info": "Styles for the Screensize of Maximum width mentioned in the block Breakpoint 2"
        }
      ]
    },
    {
      "type": "customRichText",
      "name": "Custom Text",
      "settings": [
        {
          "type": "select",
          "label": "Width",
          "options": [
            {
              "value": "col-md-12",
              "label": "100%"
            },
            {
              "value": "col-md-9",
              "label": "75%"
            },
            {
              "value": "col-md-8",
              "label": "66%"
            },
            {
              "value": "col-md-6",
              "label": "50%"
            },
            {
              "value": "col-md-4",
              "label": "33%"
            },
            {
              "value": "col-md-3",
              "label": "25%"
            },
            {
              "value": "col-md-1-5",
              "label": "20%"
            }
          ],
          "default": "col-md-3",
          "id": "blockWidth"
        },
        {
          "type": "range",
          "label": "Vertical padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 12,
          "unit": "px",
          "id": "vertPadding"
        },
        {
          "type": "range",
          "label": "Horizontal padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 4,
          "unit": "px",
          "id": "horPadding"
        },
        {
          "type": "select",
          "id": "horAlign",
          "label": "Block alignment (left to right)",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "vertAlign",
          "label": "Block alignment (top to bottom)",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle"
        },
        {
          "type": "range",
          "default": 100,
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "id": "maxBWidth",
          "label": "Width (desktop)",
          "info": "Maximum width content of this block can span on Desktop."
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>This is for your text</p>"
        },
        {
          "type": "color",
          "id": "textColor",
          "label": "Text color",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "header",
          "content": "Font"
        },
        {
          "type": "select",
          "label": "Font size",
          "id": "fontSize",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "base",
              "label": "Base"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "big",
              "label": "Big"
            },
            {
              "value": "custom",
              "label": "Custom"
            }
          ],
          "default": "medium"
        },
        {
          "type": "range",
          "id": "customFontSize",
          "label": "Custom Font size",
          "unit": "px",
          "min": 1,
          "max": 100,
          "step": 1,
          "default": 18
        },
        {
          "type": "checkbox",
          "label": "Use custom font",
          "default": false,
          "id": "customFont"
        },
        {
          "id": "customFontFamily",
          "label": "Custom font",
          "type": "font_picker",
          "default": "work_sans_n6"
        },
        {
          "type": "text",
          "label": "Custom Max Width",
          "id": "customMaxWidthMK"
        },
        {
          "type": "textarea",
          "id": "customStylesMK",
          "label": "Custom Styles"
        },
        { 
          "type": "header",
          "content": "Responsive Styles"
        },
        {
          "type": "text",
          "label": "Block Breakpoint 1",
          "id": "customBreakpointOneMK",
          "default": "1200",
          "info": "Breakpoint for custom styles - Responsive."
        },
        {
          "type": "textarea",
          "id": "customStylesBrOneMK",
          "label": "Custom Styles Responsive Breakpoint 1",
          "info": "Styles for the Screensize of Maximum width mentioned in the block Breakpoint 1"
        },
        {
          "type": "text",
          "label": "Block Breakpoint 2",
          "id": "customBreakpointTwoMK",
          "default": "767",
          "info": "Breakpoint for custom styles 2 - Responsive."
        },
        {
          "type": "textarea",
          "id": "customStylesBrTwoMK",
          "label": "Custom Styles Responsive Breakpoint 2",
          "info": "Styles for the Screensize of Maximum width mentioned in the block Breakpoint 2"
        }
      ]
    },
    {
      "type": "customButton",
      "name": "Custom Button",
      "settings": [
        {
          "type": "select",
          "label": "Width",
          "options": [
            {
              "value": "col-md-12",
              "label": "100%"
            },
            {
              "value": "col-md-9",
              "label": "75%"
            },
            {
              "value": "col-md-8",
              "label": "66%"
            },
            {
              "value": "col-md-6",
              "label": "50%"
            },
            {
              "value": "col-md-4",
              "label": "33%"
            },
            {
              "value": "col-md-3",
              "label": "25%"
            },
            {
              "value": "col-md-1-5",
              "label": "20%"
            }
          ],
          "default": "col-md-3",
          "id": "blockWidth"
        },
        {
          "type": "range",
          "label": "Vertical padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 12,
          "unit": "px",
          "id": "vertPadding"
        },
        {
          "type": "range",
          "label": "Horizontal padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 4,
          "unit": "px",
          "id": "horPadding"
        },
        {
          "type": "select",
          "id": "horAlign",
          "label": "Block alignment (left to right)",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "vertAlign",
          "label": "Block alignment (top to bottom)",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle"
        },
        {
          "id": "text",
          "label": "Button text",
          "type": "text",
          "default": "Get this now!"
        },
        {
          "id": "url",
          "type": "url",
          "label": "Links to"
        },
        {
          "type": "text",
          "id": "icon",
          "label": "Button icon",
          "info": "Dashed icon from the [Unicons library](https://iconscout.com/unicons/explore/line)",
          "placeholder": "shopping-cart"
        },
        {
          "type": "select",
          "id": "iconPosition",
          "options": [
            {
              "value": "icon--left",
              "label": "Left"
            },
            {
              "value": "icon--right",
              "label": "Right"
            }
          ],
          "default": "icon--left",
          "label": "Icon position"
        },
        {
          "type": "header",
          "content": "Button style"
        },
        {
          "type": "select",
          "options": [
            {
              "value": "filled",
              "label": "Filled"
            },
            {
              "value": "ghost",
              "label": "Ghost"
            },
            {
              "value": "underlined",
              "label": "Underlined"
            },
            {
              "value": "text",
              "label": "Text"
            }
          ],
          "default": "filled",
          "label": "Button style",
          "id": "buttonStyle"
        },
        {
          "id": "wideButton",
          "type": "checkbox",
          "label": "Make the button full width",
          "default": false
        },
        {
          "id": "borderWidth",
          "type": "range",
          "label": "Border width",
          "unit": "px",
          "min": 0,
          "max": 10,
          "step": 1,
          "default": 0
        },
        {
          "id": "useBorderRadius",
          "label": "Custom border radius",
          "type": "checkbox",
          "default": false
        },
        {
          "id": "borderRadius",
          "type": "range",
          "min": 0,
          "max": 50,
          "unit": "px",
          "default": 0,
          "label": "Border radius"
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "id": "fillColor",
          "type": "color",
          "label": "Fill color",
          "default": "rgb(0,0,0)"
        },
        {
          "id": "contentColor",
          "type": "color",
          "label": "Text color",
          "default": "rgb(255, 255, 255)"
        },
        {
          "id": "hoverFillColor",
          "type": "color",
          "label": "Hover fill color",
          "default": "rgb(255, 255, 255)"
        },
        {
          "id": "hoverContentColor",
          "type": "color",
          "label": "Hover text color",
          "default": "rgb(0,0,0)"
        },
        {
          "type": "header",
          "content": "Font"
        },
        {
          "type": "select",
          "label": "Font size",
          "id": "fontSize",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "base",
              "label": "Base"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "big",
              "label": "Big"
            },
            {
              "value": "custom",
              "label": "Custom"
            }
          ],
          "default": "medium"
        },
        {
          "type": "range",
          "id": "customFontSize",
          "label": "Custom Font size",
          "unit": "px",
          "min": 1,
          "max": 100,
          "step": 1,
          "default": 18
        },
        {
          "type": "checkbox",
          "label": "Use custom font",
          "default": false,
          "id": "customFont"
        },
        {
          "id": "customFontFamily",
          "label": "Custom font",
          "type": "font_picker",
          "default": "work_sans_n6"
        },
        {
          "type": "header",
          "content": "Animation"
        },
        {
          "type": "select",
          "label": "Animation name",
          "id": "animation",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "heartBeat",
              "label": "Heart Beat"
            },
            {
              "value": "jello",
              "label": "Jello"
            },
            {
              "value": "wobble",
              "label": "Wobble"
            },
            {
              "value": "tada",
              "label": "Ta-da!"
            },
            {
              "value": "swing",
              "label": "Swing"
            },
            {
              "value": "bounce",
              "label": "Bounce"
            },
            {
              "value": "flash",
              "label": "Flash"
            },
            {
              "value": "pulse",
              "label": "Pulse"
            },
            {
              "value": "rubberBand",
              "label": "Rubberband"
            },
            {
              "value": "shake",
              "label": "Shake"
            }
          ]
        },
        {
          "type": "range",
          "min": 100,
          "max": 2500,
          "step": 25,
          "default": 1000,
          "unit": "ms",
          "id": "animationDuration",
          "label": "Animation duration"
        },
        {
          "type": "checkbox",
          "label": "Animate infinitely",
          "id": "animationInfinite",
          "default": true
        },
        {
          "type": "text",
          "label": "Custom Max Width",
          "id": "customMaxWidthMK"
        },
        {
          "type": "textarea",
          "id": "customStylesMK",
          "label": "Custom Styles"
        },
        { 
          "type": "header",
          "content": "Responsive Styles"
        },
        {
          "type": "text",
          "label": "Block Breakpoint 1",
          "id": "customBreakpointOneMK",
          "default": "1200",
          "info": "Breakpoint for custom styles - Responsive."
        },
        {
          "type": "textarea",
          "id": "customStylesBrOneMK",
          "label": "Custom Styles Responsive Breakpoint 1",
          "info": "Styles for the Screensize of Maximum width mentioned in the block Breakpoint 1"
        },
        {
          "type": "text",
          "label": "Block Breakpoint 2",
          "id": "customBreakpointTwoMK",
          "default": "767",
          "info": "Breakpoint for custom styles 2 - Responsive."
        },
        {
          "type": "textarea",
          "id": "customStylesBrTwoMK",
          "label": "Custom Styles Responsive Breakpoint 2",
          "info": "Styles for the Screensize of Maximum width mentioned in the block Breakpoint 2"
        }
      ]
    },
    {
      "type": "blockNewsletter",
      "name": "Newsletter",
      "settings": [
        {
          "type": "select",
          "label": "Width",
          "options": [
            {
              "value": "col-md-12",
              "label": "100%"
            },
            {
              "value": "col-md-9",
              "label": "75%"
            },
            {
              "value": "col-md-8",
              "label": "66%"
            },
            {
              "value": "col-md-6",
              "label": "50%"
            },
            {
              "value": "col-md-4",
              "label": "33%"
            },
            {
              "value": "col-md-3",
              "label": "25%"
            },
            {
              "value": "col-md-1-5",
              "label": "20%"
            }
          ],
          "default": "col-md-3",
          "id": "blockWidth"
        },
        {
          "type": "range",
          "label": "Vertical padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 12,
          "unit": "px",
          "id": "vertPadding"
        },
        {
          "type": "range",
          "label": "Horizontal padding",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 4,
          "unit": "px",
          "id": "horPadding"
        },
        {
          "type": "select",
          "id": "horAlign",
          "label": "Block alignment (left to right)",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "vertAlign",
          "label": "Block alignment (top to bottom)",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "middle"
        },
        {
          "type": "select",
          "label": "Newsletter provider",
          "options": [
            {
              "value": "shopify",
              "label": "Shopify"
            },
            {
              "value": "mailchimp",
              "label": "Mailchimp"
            }
          ],
          "default": "shopify",
          "id": "newsletter"
        },
        {
          "type": "header",
          "content": "Input"
        },
        {
          "type": "range",
          "min": 0,
          "max": 1000,
          "step": 10,
          "unit": "px",
          "id": "inputMaxWidth",
          "label": "Maximum input width",
          "default": 500
        },
        {
          "id": "inputText",
          "label": "Input text color",
          "default": "rgba(0,0,0,0)",
          "type": "color"
        },
        {
          "id": "inputBackground",
          "label": "Input background color",
          "default": "rgba(0,0,0,0)",
          "type": "color"
        },
        {
          "type": "text",
          "label": "Placeholder text",
          "default": "Your e-mail goes here",
          "id": "email"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "radio",
          "default": "primary",
          "label": "Button type",
          "options": [
            {
              "value": "primary",
              "label": "Primary combination"
            },
            {
              "value": "secondary",
              "label": "Secondary combination"
            }
          ],
          "id": "buttonType"
        },
        {
          "type": "text",
          "label": "Submit text",
          "default": "Subscribe",
          "id": "submit"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Structure",
      "name": "Custom content",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}