<style type="text/css">
{% render 'common-css' with section as section %}
#s--{{section.id}} .collection-title__card {
    background-color: {{section.settings.titleBackgroundColor}};
    background-size: cover;
    background-position: center;
}

{% unless section.settings.titleContentColor contains 'rgba(0,0,0,0)'  %}
#s--{{section.id}} .collection-title__card--content h2, #s--{{section.id}} .collection-title__card--content p {
  color: {{section.settings.titleContentColor}};
}
{% endunless %}
</style>

{% assign mobile = settings.cardMobile %}
{% assign desktop = settings.cardDesktop %}

<div id="s--{{section.id}}" class="{% render 'common-class', section: section, class: 'row padding__vertical', vAlign: false %}">
<div class="row layout__content s__content">
{% render 'block__general--heading' with section as section %}
<div class="row">
<div class="col-12 col-md-{{-desktop}} bottom card--holder card--default collection-title__card lazyload"
{% unless section.settings.titleBackgroundImage == nil -%}{% render 'background', image: section.settings.titleBackgroundImage %}{%- endunless %}>
    {% if section.settings.overlayOpacity > 0 %}
        <div
        class="overlay"
        style="opacity: {{section.settings.overlayOpacity | times: 0.01}}; background-color: {{section.settings.overlayColor}};">
        </div>
    {% endif %}
    <div class="col-12 unflex no-gap collection-title__card--content {{section.settings.showMoreAlignment}}">
        {% unless section.settings.titleHeading == blank %}<h2 class="font__family--title">{{section.settings.titleHeading}}</h2>{% endunless %}
        {% unless section.settings.titleContent == blank %}{{section.settings.titleContent}}{% endunless %}
        {% if section.settings.showMore %}
            <div class="showMore {{section.settings.showMoreAlignment}}">
                {% assign smt = 'general.buttons.show_more' | t %}
                {% render 'button', type: 'primary', text: smt, url: collections[section.settings.collection].url %}
            </div>
        {% endif %}
    </div>
</div>
{% for product in collections[section.settings.collection].products limit: section.settings.productCount %}
  <div class="col-{{mobile}} col-md-{{-desktop}} card--holder s__block">
  {% render 'product-card-default', product: product, dsize: '3' %}
  </div>
{% else %}
  {% for i in (1..3) %}
    <div class="col-{{mobile}} col-md-{{-desktop}} card--holder s__block">
      {% render 'product-card-fake', i: i %}
    </div>
  {% endfor %}
{%endfor%}
</div>
</div>
</div>

{% schema %}
{
    "name": {
        "en": "Featured collection tiles"
    },
    "settings": [
      {
      "type": "header",
      "content": "Help"
    },
    {
      "type": "paragraph",
      "content": "[Click here to follow an interactive Tutorial](https://vimeo.com/458157958)"
    },
    {
        "type": "header",
        "content": "Section layout"
    },
    {
      "type": "radio",
      "id": "displayFor",
      "label": "Show this section on",
      "options": [
        {"value": "display--both", "label": "All devices"},
        {"value": "hide-desktop", "label": "Mobile only"},
        {"value": "hide-mobile", "label": "Desktop only"}
      ],
      "default": "display--both"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Section layout",
      "options": [
        {"value": "default", "label": "Global default"},
        {"value": "boxed", "label": "Boxed"},
        {"value": "stretchBg", "label": "Full width background"},
        {"value": "stretchContent", "label": "Full width"}
      ],
      "default": "default"
    },
    {
      "type": "checkbox",
      "id": "nomargin",
      "default": false,
      "label": "Remove section's bottom margin"
    },
    {
      "type": "textarea",
      "id": "scopedCSS",
      "label": "Section-scoped CSS",
      "info": "Rules beginning with ##scoped will be scoped to this section. (Example: ##scoped h1 {color: blue})"
    },
    {
      "type": "range",
      "id": "height",
      "label": "Minimum height",
      "default": 0,
      "min": 0,
      "max": 800,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding",
      "label": "Section padding",
      "default": 0,
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px"
    },
    {
        "type": "header",
        "content": "Section content"
    },
    {
      "type": "color",
      "id": "contentColor",
      "label": "Default text color",
      "default": "rgba(0,0,0,0)"
    },
    {
    "type": "header",
    "content": "Section background"
  },
  {
    "id": "backgroundColor",
    "type": "color",
    "default": "rgba(0,0,0,0)",
    "label": "Background color"
  },
    {
    "type": "header",
    "content": "Section heading"
},
{
    "type": "text",
    "id": "heading",
    "label": "Section heading",
    "default": "Check out this section's heading"
},
{
    "type": "color",
    "id": "headingColor",
    "default": "rgba(0,0,0,0)",
    "label": "Heading Color"
},
{
    "type": "text",
    "id": "subheading",
    "label": "Section subheading",
    "default": "THIS IS A SUBHEADING"
},
{
    "type": "color",
    "id": "subheadingColor",
    "default": "rgba(0,0,0,0)",
    "label": "Subheading Color"
},
{
    "type": "select",
    "id": "subheadingPosition",
    "label": "Subheading position",
    "options": [
      {"value": "above", "label": "Above heading"},
      {"value": "below", "label": "Below heading"}
    ],
    "default": "above"
},
{
    "type": "select",
    "id": "headingAlignment",
    "label": "Heading alignment (left to right)",
    "options": [
    {"value": "start", "label": "Left"},
    {"value": "center", "label": "Center"},
    {"value": "end", "label": "Right"}
    ],
    "default": "center"
},
    {
      "type": "header",
      "content": "Collection settings"
    },
    {
        "type": "collection",
        "label": "Featured collection",
        "id": "collection"
    },
    {
        "type": "range",
        "id": "productCount",
        "label": "Number of products to show",
        "default": 4,
        "max": 32,
        "step": 1,
        "min": 1,
        "unit": "prd"
    },
    {
        "type": "header",
        "content": "Tile block style"
    },
    {
      "id": "titleContentColor",
      "type": "color",
      "default": "rgba(0,0,0,0)",
      "label": "Tile text color"
    },
    {
      "id": "titleBackgroundColor",
      "type": "color",
      "default": "rgba(0,0,0,0)",
      "label": "Tile background color"
    },
    {
        "id": "titleBackgroundImage",
        "type": "image_picker",
        "label": "Tile background image"
    },
    {
      "type": "range",
      "id": "overlayOpacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "label": "Overlay opacity",
      "default": 0,
      "unit": "%"
    },
    {
      "type": "color",
      "id": "overlayColor",
      "label": "Overlay color",
      "default": "#000000"
    },
    {
        "type": "header",
        "content": "Tile block content"
    },
    {
        "type": "text",
        "label": "Block title",
        "id": "titleHeading",
        "default": "Check this out!"
    },
    {
        "type": "richtext",
        "label": "Block content",
        "id": "titleContent",
        "default": "<p>This is awesome!</p>"
    },
    {
      "type": "checkbox",
      "id": "showMore",
      "label": "Enable 'Show more' button",
      "default": true
    },
    {
      "type": "select",
      "id": "showMoreAlignment",
      "label": "Tile content alignment (left to right)",
      "options": [
        {"value": "start", "label": "Left"},
        {"value": "center", "label": "Center"},
        {"value": "end", "label": "Right"}
      ],
      "default": "center"
    }
    ],
    "presets": [
      {
        "category": "Products",
        "name": "Featured collection tiles",
        "settings": {
        },
        "blocks": [
        ]
      }
    ]
  }
{% endschema %}