<style>
#s--{{section.id}} {
    background-color: {{section.settings.backgroundColor}}; 
    min-height: {{section.settings.height}}px;
    height: 1px;
}

#s--{{section.id}} .layout__content {
    min-height: {{section.settings.height}}px;
    padding: {{section.settings.padding}}px;
    flex-wrap: wrap;
    height: 100%;
}

#s--{{section.id}} .location__content {
    background-color: {{section.settings.backgroundColor}}; 
    background-size: cover; 
    {% if section.settings.parallax -%}
    background-attachment: fixed;
    {%- endif -%}
    color: {% unless section.settings.contentColor contains 'rgba(0,0,0,0)'  %}{{section.settings.contentColor}}{% else %}initial{% endunless %};
}

{% if section.settings.nomargin %}
#shopify-section-{{section.id}}{
    margin-bottom: 0px !important;
}
{% endif %}

{% if section.settings.overlayOpacity > 0 %}
.overlay--{{-section.id}} {
    opacity: {{section.settings.overlayOpacity | times: 0.01}};
    background-color: {{section.settings.overlayColor}};
}
{% endif %}

#s--{{section.id}} .location__embed {
    padding: 0px;
    {% case section.settings.mapStyle %}
        {% when 'background' %}
            position: absolute;
            z-index: 0;
            height: 100%;
            width: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            max-width: 100%;
        {% when 'inside' %}
            position: relative;
            order: 2;
            height: calc(100% + {{section.settings.padding | times: 2}}px);
            margin-top: 0px;
            width: calc(100% + {{section.settings.padding}}px);
            margin-right: 0px;
            margin-left: auto;
        {% when 'boxed' %}
          position: relative;
          order: 2;
          height: 100%;
    {% endcase %}
}

@media screen and (max-width: 767px){
    #s--{{section.id}} {
        background-color: {{section.settings.backgroundColor}}; 
        min-height: none;
        height: auto;
    }
}

#colorcode{}
</style>

<div
id="s--{{section.id}}"
class="{% render 'common-class', section: section, class: 'row, vAlign: false'%}">
  <div class="col-12 no-gap {{ section.settings.verticalAlignment }} layout__content s__holder">
      <div class="col-12 col-md-6 location__embed">
          {% assign src = section.settings.mapEmbed | split: 'src="' %} 
          {% assign src = src[1] | split: '"' %}
          {% assign src = src[0] %}
          <iframe class="lazyload" data-src="{{src}}" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    <div 
    {% unless section.settings.backgroundImage == nil -%}{% render 'background', image: section.settings.backgroundImage %}{%- endunless %}
    class="lazyload bg__{{section.settings.backgroundPosition}} col-12 col-md-6 location__content {{ section.settings.horizontalAlignment }} middle">
      {% if section.settings.overlayOpacity > 0 %}
          <div
          class="overlay overlay--{{-section.id}}">
          </div>
      {% endif %}
      {%- for block in section.blocks %}
        {% if block.type == '@app' %}
          <div class="location__content--content no-gap s__block s__block--{{-block.type}} unflex col-12 {{ section.settings.horizontalAlignment }} margin__bottom--12">
            {% render block %}
          </div>
          {% continue %}
        {% endif %}
        <div 
        class="location__content--content margin__bottom--12 {%if block.settings.wideButton or block.type == 'separator' or block.settings.fullWidth%}col-12 no-gap {{ section.settings.horizontalAlignment }}{%else%}margin__horizontal--4{%endif-%}">
          {% render 'get-block' with block as block %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
    "name": {
        "en": "Map"
    },
    "settings": [
      {
            "type": "header",
            "content": "Help"
        },
        {
        "type": "paragraph",
        "content": "[Click here to follow an interactive Tutorial](https://vimeo.com/458158695)"
        },
    {
    "type": "header",
    "content": "Section layout"
},
{
  "type": "radio",
  "id": "displayFor",
  "label": "Show this section on",
  "options": [
    {"value": "display--both", "label": "All devices"},
    {"value": "hide-desktop", "label": "Mobile only"},
    {"value": "hide-mobile", "label": "Desktop only"}
  ],
  "default": "display--both"
},
{
  "type": "select",
  "id": "layout",
  "label": "Section layout",
  "options": [
    {"value": "default", "label": "Global default"},
    {"value": "boxed", "label": "Boxed"},
    {"value": "stretchBg", "label": "Full width background"},
    {"value": "stretchContent", "label": "Full width"}
  ],
  "default": "default"
},
{
  "type": "checkbox",
  "id": "nomargin",
  "default": false,
  "label": "Remove section's bottom margin"
},
{
  "type": "textarea",
  "id": "scopedCSS",
  "label": "Section-scoped CSS",
  "info": "Rules beginning with ##scoped will be scoped to this section. (Example: ##scoped h1 {color: blue})"
},
{
  "type": "range",
  "id": "height",
  "label": "Minimum height",
  "default": 0,
  "min": 0,
  "max": 800,
  "step": 10,
  "unit": "px"
},
{
  "type": "range",
  "id": "padding",
  "label": "Section padding",
  "default": 0,
  "min": 0,
  "max": 50,
  "step": 5,
  "unit": "px"
},
{
  "type": "range",
  "id": "lineMargin",
  "label": "Space between blocks",
  "default": 12,
  "min": 0,
  "max": 50,
  "step": 1,
  "unit": "px"
},
    {
    "type": "header",
    "content": "Section background"
},
{
  "id": "backgroundColor",
  "type": "color",
  "default": "rgba(0,0,0,0)",
  "label": "Background color"
},
{
  "type": "image_picker",
  "id": "backgroundImage",
  "label": "Background image"
},
{
  "type": "select",
  "id": "backgroundPosition",
  "label": "Background image position",
  "options": [
    {"value": "top", "label": "Top"},
    {"value": "middle", "label": "Middle"},
    {"value": "bottom", "label": "Bottom"}
  ],
  "default": "middle"
},
{
  "type": "select",
  "options": [
    {"value": "none", "label": "None"},
    {"value": "blur", "label": "Blur"},
    {"value": "contrast", "label": "Contrast"},
    {"value": "grayscale", "label": "Black & White"},
    {"value": "invert", "label": "Invert colors"},
    {"value": "sepia", "label": "Sepia (retro)"},
    {"value": "saturate", "label": "Saturation"}
  ],
  "id": "backgroundFilter",
  "label": "Background effect",
  "default": "none"
},
{
  "type": "range",
  "min": 0,
  "max": 100,
  "step": 5,
  "label": "Effect intensity",
  "id": "backdropIntensity",
  "default": 50,
  "unit": "%"
},
{
  "type": "checkbox",
  "id": "parallax",
  "label": "Enable parallax",
  "default": false
},
{
  "type": "checkbox",
  "id": "backgroundPattern",
  "label": "Background pattern",
  "default": false
},
{
  "type": "header",
  "content": "Background overlay"
},
{
  "type": "range",
  "id": "overlayOpacity",
  "min": 0,
  "max": 100,
  "step": 5,
  "label": "Overlay opacity",
  "default": 0,
  "unit": "%"
},
{
  "type": "color",
  "id": "overlayColor",
  "label": "Overlay color",
  "default": "#000000"
},
    {
    "type": "header",
    "content": "Section content"
},
{
  "type": "color",
  "id": "contentColor",
  "label": "Default text color",
  "default": "rgba(0,0,0,0)"
},
{
  "type": "select",
  "id": "horizontalAlignment",
  "label": "Content alignment (left to right)",
  "options": [
    {"value": "start", "label": "Left"},
    {"value": "center", "label": "Center"},
    {"value": "end", "label": "Right"}
  ],
  "default": "center"
},
{
  "type": "select",
  "id": "verticalAlignment",
  "label": "Content alignment (top to bottom)",
  "options": [
    {"value": "top", "label": "Top"},
    {"value": "middle", "label": "Middle"},
    {"value": "bottom", "label": "Bottom"}
  ],
  "default": "middle"
},
    {
        "type": "header",
        "content": "Map"
    },
    {
        "type": "text",
        "id": "mapEmbed",
        "label": "Map embed",
        "default": "<iframe src=\"https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5560.848895432604!2d16.003121!3d45.822784!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d7a53d6ab5b5%3A0xd531eb4367cf4cce!2sJordanovac%20ul.%2C%2010000%2C%20Zagreb%2C%20Hrvatska!5e0!3m2!1shr!2sus!4v1584804957125!5m2!1shr!2sus\" width=\"600\" height=\"450\" frameborder=\"0\" style=\"border:0;\" allowfullscreen=\"\" aria-hidden=\"false\" tabindex=\"0\"></iframe>",
        "placeholder": "<iframe src=\"https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5560.848895432604!2d16.003121!3d45.822784!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d7a53d6ab5b5%3A0xd531eb4367cf4cce!2sJordanovac%20ul.%2C%2010000%2C%20Zagreb%2C%20Hrvatska!5e0!3m2!1shr!2sus!4v1584804957125!5m2!1shr!2sus\" width=\"600\" height=\"450\" frameborder=\"0\" style=\"border:0;\" allowfullscreen=\"\" aria-hidden=\"false\" tabindex=\"0\"></iframe>",
        "info": "You need to copy/paste a share embed from Google Maps. If you don't know how to do that try following [this tutorial](https://support.google.com/maps/answer/144361?co=GENIE.Platform%3DDesktop&hl=en) from Google - section about embedding maps. Paste the copied text (embed, iframe) inside the above field."
    },
    {
        "type": "select",
        "label": "Map style",
        "id": "mapStyle",
        "options": [
            {"value": "background", "label": "Full width background"},
            {"value": "inside", "label": "Cover inside"},
            {"value": "boxed", "label": "Boxed inside"}
        ],
        "default": "inside"
    }
    ],
    "blocks": [{"type": "@app"},{
    "type": "title",
    "name": "Heading",
    "settings": [
        {
        "type": "checkbox",
        "id": "fullWidth",
        "default": true,
        "label": "Single in row"
        },
        {
        "id": "content",
        "type": "text",
        "label": "Header",
        "default": "Hey check this out!"
        },
        {
        "type": "color",
        "id": "textColor",
        "default": "rgba(0,0,0,0)",
        "label": "Text color"
        },
        {
        "type": "header",
        "content": "Font"
        },
        {
        "type": "radio",
        "id": "fontFamily",
        "label": "Font Family",
        "options": [
            {"value": "base", "label": "Base font family"},
            {"value": "title", "label": "Title font family"}
        ],
        "default": "title"
        },
        {
        "type": "select",
        "label": "Font Size",
        "default": "medium",
        "id": "fontSize",
        "options": [
            {"value": "small", "label": "Small"},
            {"value": "base", "label": "Base"},
            {"value": "medium", "label": "Medium"},
            {"value": "big", "label": "Big"}
        ]
        }
    ]
},{
    "type": "richText",
    "name": "Text",
    "settings": [
    {
        "type": "checkbox",
        "id": "fullWidth",
        "default": true,
        "label": "Single in row"
    },
    {
        "type": "range",
        "default": 100,
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "id": "maxBWidth",
        "label": "Width (desktop)",
        "info": "Maximum width content of this block can span on Desktop."
    },
    {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>This is for your text</p>"
    },
    {
        "type": "checkbox",
        "id": "detectLists",
        "label": "Automatically detect lists",
        "default": true,
        "info": "If a row begins with a '-' (dash), theme will automatically turn this row into a list element."
    },
    {
        "type": "color",
        "id": "textColor",
        "label": "Text color",
        "default": "rgba(0,0,0,0)"
    },
    {
        "type": "header",
        "content": "Font"
    },
    {
        "type": "radio",
        "id": "fontFamily",
        "label": "Font Family",
        "options": [
        {"value": "base", "label": "Base font family"},
        {"value": "title", "label": "Title font family"}
        ],
        "default": "base"
    },
    {
        "type": "select",
        "label": "Font Size",
        "default": "base",
        "id": "fontSize",
        "options": [
        {"value": "small", "label": "Small"},
        {"value": "base", "label": "Base"},
        {"value": "medium", "label": "Medium"},
        {"value": "big", "label": "Big"}
        ]
    }
    ]
},{
    "type": "button",
    "name": "Button",
    "settings": [
    {
        "type": "checkbox",
        "id": "fullWidth",
        "default": true,
        "label": "Single in row"
    },
    {
        "id": "text",
        "label": "Button text",
        "type": "text",
        "default": "Get this now!"
    },
    {
        "id": "url",
        "type": "url",
        "label": "Links to"
    },
    {
        "type": "text",
        "id": "icon",
        "label": "Button icon",
        "info": "Dashed icon from the [Unicons library](https://iconscout.com/unicons/explore/line)",
        "placeholder": "shopping-cart"
    },
    {
        "type": "select",
        "id": "iconPosition",
        "options": [
            {"value": "icon--left", "label": "Left"},
            {"value": "icon--right", "label": "Right"}
        ],
        "default": "icon--left",
        "label": "Icon position"
    },
    {
        "type": "header",
        "content": "Button style"
    },
    {
        "id": "wideButton",
        "type": "checkbox",
        "label": "Make the button full width",
        "default": false
    },
    {
        "id": "buttonStyle",
        "type": "select",
        "label": "Color combination",
        "options": [
        {"value": "primary", "label": "Primary"},
        {"value": "secondary", "label": "Secondary"}
        ],
        "default": "primary"
    },
    {
        "id": "buttonType",
        "type": "select",
        "label": "Button type",
        "options": [
        {"value": "default", "label": "Default"},
        {"value": "filled", "label": "Filled"},
        {"value": "ghost", "label": "Ghost"},
        {"value": "underlined", "label": "Underlined"},
        {"value": "text", "label": "Text"}
        ],
        "default": "default"
    },
    {
        "type": "header",
        "content": "Font"
    },
    {
        "type": "select",
        "label": "Font size",
        "id": "fontSize",
        "options": [
        {"value": "small", "label": "Small"},
        {"value": "base", "label": "Base"},
        {"value": "medium", "label": "Medium"},
        {"value": "big", "label": "Big"}
        ],
        "default": "base"
    },
    {
        "type": "header",
        "content": "Font"
    },
    {
        "type": "radio",
        "id": "fontFamily",
        "label": "Font Family",
        "options": [
        {"value": "base", "label": "Base font family"},
        {"value": "title", "label": "Title font family"}
        ],
        "default": "base"
    },
    {
        "type": "header",
        "content": "Animation"
    },
    {
        "type": "select",
        "label": "Animation name",
        "id": "animation",
        "default": "none",
        "options": [
        {"value": "none", "label": "None"},
        {"value": "heartBeat", "label": "Heart Beat"},
        {"value": "jello", "label": "Jello"},
        {"value": "wobble", "label": "Wobble"},
        {"value": "tada", "label": "Ta-da!"},
        {"value": "swing", "label": "Swing"},
        {"value": "bounce", "label": "Bounce"},
        {"value": "flash", "label": "Flash"},
        {"value": "pulse", "label": "Pulse"},
        {"value": "rubberBand", "label": "Rubberband"},
        {"value": "shake", "label": "Shake"}
        ]
    },
    {
        "type": "range",
        "min": 100,
        "max": 2500,
        "step": 25,
        "default": 1000,
        "unit": "ms",
        "id": "animationDuration",
        "label": "Animation duration"
    },
    {
        "type": "checkbox",
        "label": "Animate infinitely",
        "id": "animationInfinite",
        "default": true
    }
    ]
}, 
    {
    "type": "highlightedText",
    "name": "Highlighted text",
    "settings": [
        {
        "type": "checkbox",
        "id": "fullWidth",
        "default": true,
        "label": "Single in row"
        },
        {
        "id": "content",
        "type": "text",
        "label": "Text"
        },
        {
        "type": "select",
        "id": "fontSize",
        "label": "Font size",
        "options": [
            {"value": "small", "label": "Small"},
            {"value": "base", "label": "Base"},
            {"value": "medium", "label": "Medium"},
            {"value": "big", "label": "Big"}
        ],
        "default": "base"
        },
        {
        "type": "color",
        "id": "backgroundColor",
        "label": "Highlight color",
        "default": "#FFF"
        },
        {
        "type": "color",
        "id": "contentColor",
        "label": "Text color",
        "default": "#000"
        }
    ]
},{
    "type": "separator",
    "name": "Separator",
    "settings": [
    {
        "type": "header",
        "content": "Separator"
    },
    {
        "type": "range",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "id": "height",
        "label": "Height",
        "default": 50
    },
    {
        "type": "header",
        "content": "Divider"
    },
    {
        "type": "range",
        "label": "Divider height",
        "unit": "px",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 0,
        "id": "dividerHeight"
    },
    {
        "type": "range",
        "label": "Divider width",
        "unit": "%",
        "min": 5,
        "max": 100,
        "step": 5,
        "default": 50,
        "id": "dividerWidth"
    },
    {
        "type": "color",
        "label": "Divider color",
        "default": "#000",
        "id": "dividerColor"
    },
    {
        "type": "select",
        "default": "left",
        "id": "position",
        "options": [
            {"value": "left", "label": "Left"},
            {"value": "center", "label": "Center"},
            {"value": "right", "label": "Right"}
        ],
        "label": "Divider position"
    }
    ]
}, 
    {
    "type": "customTitle",
    "name": "Custom Heading",
    "settings": [
        {
        "type": "checkbox",
        "id": "fullWidth",
        "default": true,
        "label": "Single in row"
        },
        {
        "id": "content",
        "type": "text",
        "label": "Header"
        },
        {
        "type": "color",
        "id": "textColor",
        "default": "rgba(0,0,0,0)",
        "label": "Text color"
        },
        {
        "type": "select",
        "label": "Font size",
        "id": "fontSize",
        "options": [
            {"value": "small", "label": "Small"},
            {"value": "base", "label": "Base"},
            {"value": "medium", "label": "Medium"},
            {"value": "big", "label": "Big"},
            {"value": "custom", "label": "Custom"}
        ],
        "default": "custom"
        },
        {
        "type": "range",
        "id": "customFontSize",
        "label": "Custom Font size",
        "unit": "px",
        "min": 1,
        "max": 100,
        "step": 1,
        "default": 36
        },
        {
        "type": "checkbox",
        "label": "Use custom font",
        "default": true,
        "id": "customFont"
        },
        {
        "id": "customFontFamily",
        "label": "Custom font",
        "type": "font_picker",
        "default": "work_sans_n6"
        }
    ]
},{
    "type": "customRichText",
    "name": "Custom Text",
    "settings": [
    {
        "type": "checkbox",
        "id": "fullWidth",
        "default": true,
        "label": "Single in row"
    },
    {
        "type": "range",
        "default": 100,
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "id": "maxBWidth",
        "label": "Width (desktop)",
        "info": "Maximum width content of this block can span on Desktop."
    },
    {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>This is for your text</p>"
    },
    {
        "type": "color",
        "id": "textColor",
        "label": "Text color",
        "default": "rgba(0,0,0,0)"
    },
    {
        "type": "header",
        "content": "Font"
    },
    {
        "type": "select",
        "label": "Font size",
        "id": "fontSize",
        "options": [
        {"value": "small", "label": "Small"},
        {"value": "base", "label": "Base"},
        {"value": "medium", "label": "Medium"},
        {"value": "big", "label": "Big"},
        {"value": "custom", "label": "Custom"}
        ],
        "default": "medium"
    },
    {
        "type": "range",
        "id": "customFontSize",
        "label": "Custom Font size",
        "unit": "px",
        "min": 1,
        "max": 100,
        "step": 1,
        "default": 18
    },
    {
        "type": "checkbox",
        "label": "Use custom font",
        "default": false,
        "id": "customFont"
    },
    {
        "id": "customFontFamily",
        "label": "Custom font",
        "type": "font_picker",
        "default": "work_sans_n6"
    }
    ]
},{
    "type": "customButton",
    "name": "Custom Button",
    "settings": [
    {
        "type": "checkbox",
        "id": "fullWidth",
        "default": true,
        "label": "Single in row"
    },
    {
        "id": "text",
        "label": "Button text",
        "type": "text",
        "default": "Get this now!"
    },
    {
        "id": "url",
        "type": "url",
        "label": "Links to"
    },
    {
        "type": "text",
        "id": "icon",
        "label": "Button icon",
        "info": "Dashed icon from the [Unicons library](https://iconscout.com/unicons/explore/line)",
        "placeholder": "shopping-cart"
    },
    {
        "type": "select",
        "id": "iconPosition",
        "options": [
            {"value": "icon--left", "label": "Left"},
            {"value": "icon--right", "label": "Right"}
        ],
        "default": "icon--left",
        "label": "Icon position"
    },
    {
        "type": "header",
        "content": "Button style"
    },
    {
        "type": "select",
        "options": [
            {"value": "filled", "label": "Filled"},
            {"value": "ghost", "label": "Ghost"},
            {"value": "underlined", "label": "Underlined"},
            {"value": "text", "label": "Text"}
        ],
        "default": "filled",
        "label": "Button style",
        "id": "buttonStyle"
    },
    {
        "id": "wideButton",
        "type": "checkbox",
        "label": "Make the button full width",
        "default": false
    },
    {
        "id": "borderWidth",
        "type": "range",
        "label": "Border width",
        "unit": "px",
        "min": 0,
        "max": 10,
        "step": 1,
        "default": 0
    },
    {
        "id": "useBorderRadius",
        "label": "Custom border radius",
        "type": "checkbox",
        "default": false
    },
    {
        "id": "borderRadius",
        "type": "range",
        "min": 0,
        "max": 50,
        "unit": "px",
        "default": 0,
        "label": "Border radius"
    },
    {
        "type": "header",
        "content": "Color"
    },
    {
        "id": "fillColor",
        "type": "color",
        "label": "Fill color",
        "default": "rgb(0,0,0)"
    },
    {
        "id": "contentColor",
        "type": "color",
        "label": "Text color",
        "default": "rgb(255, 255, 255)"
    },
    {
        "id": "hoverFillColor",
        "type": "color",
        "label": "Hover fill color",
        "default": "rgb(255, 255, 255)"
    },
    {
        "id": "hoverContentColor",
        "type": "color",
        "label": "Hover text color",
        "default": "rgb(0,0,0)"
    },
    {
        "type": "header",
        "content": "Font"
    },
    {
        "type": "select",
        "label": "Font size",
        "id": "fontSize",
        "options": [
        {"value": "small", "label": "Small"},
        {"value": "base", "label": "Base"},
        {"value": "medium", "label": "Medium"},
        {"value": "big", "label": "Big"},
        {"value": "custom", "label": "Custom"}
        ],
        "default": "medium"
    },
    {
        "type": "range",
        "id": "customFontSize",
        "label": "Custom Font size",
        "unit": "px",
        "min": 1,
        "max": 100,
        "step": 1,
        "default": 18
    },
    {
        "type": "checkbox",
        "label": "Use custom font",
        "default": false,
        "id": "customFont"
    },
    {
        "id": "customFontFamily",
        "label": "Custom font",
        "type": "font_picker",
        "default": "work_sans_n6"
    },
    {
        "type": "header",
        "content": "Animation"
    },
    {
        "type": "select",
        "label": "Animation name",
        "id": "animation",
        "default": "none",
        "options": [
        {"value": "none", "label": "None"},
        {"value": "heartBeat", "label": "Heart Beat"},
        {"value": "jello", "label": "Jello"},
        {"value": "wobble", "label": "Wobble"},
        {"value": "tada", "label": "Ta-da!"},
        {"value": "swing", "label": "Swing"},
        {"value": "bounce", "label": "Bounce"},
        {"value": "flash", "label": "Flash"},
        {"value": "pulse", "label": "Pulse"},
        {"value": "rubberBand", "label": "Rubberband"},
        {"value": "shake", "label": "Shake"}
        ]
    },
    {
        "type": "range",
        "min": 100,
        "max": 2500,
        "step": 25,
        "default": 1000,
        "unit": "ms",
        "id": "animationDuration",
        "label": "Animation duration"
    },
    {
        "type": "checkbox",
        "label": "Animate infinitely",
        "id": "animationInfinite",
        "default": true
    }
    ]
}],
    "presets": [
      {
        "category": "Contact",
        "name": "Map",
        "settings": {
          "height": 250
        },
        "blocks": [
            {
            "type": "title",
            "settings": {
              "content": "Visit us today!"
            }
          }
        ]
      }
    ]
  }
{% endschema %}