<style>
  .text-col-img.page-width{
  	margin-bottom:50px;
  }
  .text-col-img .section-block{
  	position: relative;
    background-color: #fff;
  }
  .text-col-img .section-block__header--padded {
    padding-top: 30px;
    margin-bottom: 30px;
  }
  .text-center {
    text-align: center;
  }
  .text-col-img .h1--mini {
    font-size: 1.75em;
    font-family: Lato,HelveticaNeue,"Helvetica Neue",sans-serif;
    font-weight: 700;
    color: #030303;
    margin: 0 0 0.625em
  }
  .text-col-img .flex{
  	width: 100%;
  }
  .text-col-img  .flex__item:first-child, .flex__item:last-child {
    padding: 0 10px;
  }
  .text-col-img  .flex__item {
    position: relative;
    -webkit-flex: 1 1 100%;
    -moz-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    width: auto!important;
    min-width: 0;
  }
  .text-col-img  .column-flex__image {
      height: 380px;
      position: relative;
      height: 380px;
      transition: .5s ease;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;	
  }
  .text-col-img  .rte-setting {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
    width: 90%;
    font-size: 25px;
    color: #fff;
    padding:2px 5px;
  }
  .text-col-img  .rte-setting p{
  	color:white;
    font-family: Karla,HelveticaNeue,"Helvetica Neue",sans-serif;
    line-height: 1.375;
  }
  .text-col-img .rte-setting p:last-child {
    margin-bottom: 0;
  }
  .text-col-img .flex__content {
    padding: 20px;
  }
  .text-col-img .h5{
  	letter-spacing: inherit;
    text-transform: inherit;
    font-family: Karla,HelveticaNeue,"Helvetica Neue",sans-serif;
    font-weight: 700;
    font-size: 1.25em;
  }
  .text-col-img .h5:last-child{
  	margin-bottom:0px;
  }
  .text-col-img .placeholder-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:#f2f2f2;
  }
  .text-col-img .column-flex__content {
    padding: 20px;
  }
  .text-col-img .flex__item:hover .column-flex__image {
    opacity: .3;
   }
  .text-col-img .flex__item:hover .rte-setting {
    opacity: 1;
    background: rgba(0,0,0,.55);
   }
  .text-col-img .placeholder-noblocks {
  	padding: 40px;
  	text-align: center;
   }
  @media(max-width:767px){
    .text-col-img .column-flex__image {
  		height: 200px;
    }
    .text-col-img .column-flex {
    	-webkit-flex-direction: column;
    	flex-direction: column;
	}
    .text-col-img .placeholder-svg{
    	width:50%;
    }
  }
</style>
<div class="page-width text-col-img">
  <div class="section-block">
    {% if section.settings.title != blank %}
      <div class="section-block__header section-block__header--padded text-center">
        <h4 class="h1--mini section-block__title">{{ section.settings.title | escape }}</h4>
      </div>
    {% endif %}

    <div class="flex column-flex">
      {% for block in section.blocks %}
        {% if block.settings.image != blank %}
          {% assign img_url = block.settings.image | img_url: '600x600' %}
        {% endif %}
        <div class="flex__item text-center" {{ block.shopify_attributes }}>
          <a href="{{ block.settings.link }}">
          {% if block.settings.image != blank %}
            <noscript>
              <div class="column-flex__image" style="background-image: url({{ block.settings.image | img_url: '600x600' }}); background-position: {{ block.settings.image_align }};"></div>
            </noscript>
            <div class="column-flex__image lazyload"
              style="background-position: {{ block.settings.image_align }}; background-image: url('{{ block.settings.image | img_url: '300x300' }});"
              data-bgset="{% include 'bgset', image: block.settings.image %}"
              data-sizes="auto"
              data-parent-fit="cover">
            </div>
            <div class="rte-setting">{{ block.settings.text }}</div>            
          {% else %}
            <div class="column-flex__image">
              <div class="placeholder-background">
                {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            </div>
          {% endif %}
          <div class="column-flex__content">
            <p class="h5">{{ block.settings.title | escape }}</p>
          </div>
          </a>
        </div>
      {% endfor %}
    </div>

    {% if section.blocks.size == 0 %}
      <div class="placeholder-noblocks">
        This section doesn’t currently include any content. Add content to this section using the sidebar.
      </div>  
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Text columns with images",
    "class": "index-section",
    "max_blocks": 3,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Text columns with images"
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Add a title or tagline"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "radio",
            "id": "image_align",
            "label": "Image alignment",
            "options": [
              { "value": "top center", "label": "Top center" },
              { "value": "center center", "label": "Center" },
              { "value": "bottom center", "label": "Bottom center" }
            ],
            "default": "top center"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }          
        ]
      }
    ],
    "presets": [
      {
        "name": "Text columns with images",
        "category": "Text",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
